

  <div  class="sidebar-mini fixed" >
   
    <div class="wrapper" >
   
  <div ng-include="'shared/header.html'"></div>
 <div ng-include="'shared/sidebar.html'" data-ng-controller="menuController" data-ng-init="setMenu()"></div>

    <div class="content-wrapper">
        <!-- Container-fluid starts -->
       <div class="container-fluid">
    <!-- Main content starts -->
    <div>
        <!-- Header Starts -->
        <div class="row">
            <div class="col-sm-12 p-0">
                <div class="main-header">
                    <h4>Blog</h4>
                    <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                        <li class="breadcrumb-item">
                            <a href="index.html">
                                <i class="icofont icofont-home"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item"><a href="">Pages</a></li>
                        <li class="breadcrumb-item"><a href="blog.html">Blog</a></li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- Header end -->

        <div id="blog" class="blog card">
            <div class="container">
                <div class="card-block">
                    <div class="row blog-section">
                        <div class="col-xl-6 col-md-12">
                            <img src="assets/images/blog/blog1.jpg" class="img-fluid" alt="img-blog">
                        </div>
                        <div class="col-xl-7 col-md-12 blog-detail">
                            <div class="blog-left">
                                <h2>10<br/>Feb</h2>
                                <div class="blog-block">
                                    <h5>No one should ever have left the oceans</h5>
                                    <div>
                                        <h6><a href=""><i class="icofont icofont-user-alt-5"></i>John Doe</a></h6>
                                        <h6><a href=""><i class="icofont icofont-comment"></i>65 comment</a></h6>
                                        <h6><a href=""><i class="icofont icofont-share"></i>Share</a></h6>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dol ore magna aliqua. Ut enim ad minim veniam</p>
                                    <div class="read-more">
                                        <h5>
                                            <a ui-sref="blogDetail">Read More....</a>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row blog-section">
                        <div class="col-xl-6 push-xl-6 col-md-12">
                            <img src="assets/images/blog/blog2.jpg" class="img-fluid" alt="img-blog">
                        </div>
                        <div class="col-xl-7 col-md-12 blog-detail">
                            <div class="blog-left">
                                <h2>14<br/>Feb</h2>
                                <div class="blog-block">
                                    <h5>No one should ever have left the oceans</h5>
                                    <div>
                                        <h6><a href=""><i class="icofont icofont-user-alt-5"></i>John Doe</a></h6>
                                        <h6><a href=""><i class="icofont icofont-comment"></i>16 comment</a></h6>
                                        <h6><a href=""><i class="icofont icofont-share"></i>Share</a></h6>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dol ore magna aliqua. Ut enim ad minim veniam</p>
                                    <div class="read-more">
                                        <h5>
                                            <a ui-sref="blogDetail">Read More....</a>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row blog-section">
                        <div class="col-xl-6 col-md-12">
                            <img src="assets/images/blog/blog3.jpg" class="img-fluid" alt="img-blog">
                        </div>
                        <div class="col-xl-7 col-md-12 blog-detail">
                            <div class="blog-left">
                                <h2>30<br/>Apr</h2>
                                <div class="blog-block">
                                    <h5>No one should ever have left the oceans</h5>
                                    <div>
                                        <h6><a href=""><i class="icofont icofont-user-alt-5"></i>John Doe</a></h6>
                                        <h6><a href=""><i class="icofont icofont-comment"></i>48 comment</a></h6>
                                        <h6><a href=""><i class="icofont icofont-share"></i>Share</a></h6>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dol ore magna aliqua. Ut enim ad minim veniam</p>
                                    <div class="read-more">
                                        <h5>
                                            <a ui-sref="blogDetail">Read More....</a>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row blog-section">
                        <div class="col-xl-6 push-xl-6 col-md-12">
                            <img src="assets/images/blog/blog4.jpg" class="img-fluid" alt="img-blog">
                        </div>
                        <div class="col-xl-7 col-md-12 blog-detail">
                            <div class="blog-left">
                                <h2>20<br/>Dec</h2>
                                <div class="blog-block">
                                    <h5>No one should ever have left the oceans</h5>
                                    <div>
                                        <h6><a href=""><i class="icofont icofont-user-alt-5"></i>John Doe</a></h6>
                                        <h6><a href=""><i class="icofont icofont-comment"></i>126 comment</a></h6>
                                        <h6><a href=""><i class="icofont icofont-share"></i>Share</a></h6>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dol ore magna aliqua. Ut enim ad minim veniam</p>
                                    <div class="read-more">
                                        <h5>
                                            <a ui-sref="blogDetail">Read More....</a>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

        <!-- Container-fluid ends -->
     </div>
</div>
</div>
</div>

