
<div >
<section id="come-soon" class="coming">
	<!-- Container-fluid starts -->
	<div class="container-fluid">
		<div class="row comming-soon">
			<h1 class="m-b-70">COMING SOON</h1>
			<p class="m-b-50">We are working hard to improve our website and we’ll ready to launch after</p>
			<div class="counter m-b-70">
			<div countdown='' date='23 mar,2017 15:03:26'>&nbsp;</div>
				
			</div>
			<!-- end of counter -->
			<div class="md-float-material d-flex counter-email">

				<div class="col-md-10 col-sm-8 col-xs-12">
					<div class="md-input-wrapper md-input-primary txtemail-coming">
						<input type="text" class="md-form-control txt-white">
						<label class="txt-white">Enter Your Email Address</label>
					</div>
				</div>
				<div class="col-md-2 col-sm-4 col-xs-12">
					<button type="button" class="btn btn-primary btn-md waves-effect waves-light">SUBMIT
						<i class="icofont icofont-paper-plane"></i>
					</button>
				</div>
			</div>
			<div class="coming-social col-xs-12">
				<a href="" class="icofont icofont-social-facebook"></a>
				<a href="" class="icofont icofont-social-twitter"></a>
				<a href="" class="icofont icofont-social-google-plus"></a>
				<a href="" class="icofont icofont-social-pinterest"></a>
				<a href="" class="icofont icofont-brand-linkedin"></a>
			</div>
		</div>
	</div>
	<!-- end of container-fluid -->
</section>
</div>
