

  <div  class="sidebar-mini fixed" >
   
    <div class="wrapper" >
   
 <div ng-include="'shared/header.html'"></div>
 <div ng-include="'shared/sidebar.html'" data-ng-controller="menuController" data-ng-init="setMenu()"></div> 

    <div class="content-wrapper">
        <!-- Container-fluid starts -->
        <div class="container-fluid">
            <!-- Header Starts -->
            <div class="row">
                <div class="col-sm-12 p-0">
                    <div class="main-header">
                        <h4>Email Compose</h4>
                        <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                            <li class="breadcrumb-item"><a href="index.html"><i class="icofont icofont-home"></i></a>
                            </li>
                            <li class="breadcrumb-item"><a href="">Apps</a>
                            </li>
                            <li class="breadcrumb-item"><a href="email-compose.html">Email Compose</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- Header end -->

            <div class="row">
                <div class="col-sm-12">
                    <div class="card mail-compose">
                        <div class="card-block">
                            <div class="col-xl-2 col-lg-12">
                                <a href="email-compose.html" class="btn btn-inverse-danger waves-effect waves-light btn-block">Compose
                                </a>
                                <div class="list-group compose-list-group">
                                    <a href="inbox.html" class="list-group-item active">
                                        <i class="icofont icofont-download-alt"></i> Inbox <b class="email-count">(7)</b>
                                    </a>

                                    <a href="" class="list-group-item list-group-item-action">
                                        <i class="icofont icofont-star"></i> Starred
                                    </a>
                                    <a href="" class="list-group-item list-group-item-action">
                                        <i class="icofont icofont-file-text"></i> Draft
                                    </a>
                                    <a href="" class="list-group-item list-group-item-action">
                                        <i class="icofont icofont-paper-plane"></i> Send Mail</a>
                                    <a href="" class="list-group-item list-group-item-action">
                                        <i class="icofont icofont-ui-delete"></i> Trash
                                        <b class="email-count">(290)</b>
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-12">
                                <div class="email-icon">
                                    <div class="btn-group waves-effect waves-light">
                                        <button type="button" class="btn btn-primary btn-sm waves-effect waves-light">
                                            <i class="icofont icofont-exclamation-circle"></i>
                                        </button>
                                        <button type="button" class="btn btn-primary btn-sm waves-effect waves-light">
                                            <i class="icofont icofont-inbox"></i>
                                        </button>
                                        <button type="button" class="btn btn-primary btn-sm waves-effect waves-light">
                                            <i class="icofont icofont-ui-delete"></i>
                                        </button>
                                    </div>
                                    <div class="dropdown-primary dropdown">
                                        <button class="btn btn-primary dropdown-shadow dropdown-toggle waves-effect waves-light text-capitalize" type="button" id="dropdown2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            <i class="icofont icofont-ui-folder"></i>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdown1" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                            <a class="dropdown-item waves-light waves-effect" href="">Action</a>
                                            <a class="dropdown-item waves-light waves-effect" href="">Another action</a>
                                            <a class="dropdown-item waves-light waves-effect" href="">Something else here</a>
                                        </div>
                                    </div>
                                    <div class="dropdown-primary dropdown">
                                        <button class="btn btn-primary dropdown-shadow dropdown-toggle waves-effect waves-light text-capitalize" type="button" id="dropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            More
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdown1" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                            <a class="dropdown-item waves-light waves-effect" href="">Action</a>
                                            <a class="dropdown-item waves-light waves-effect" href="">Another action</a>
                                            <a class="dropdown-item waves-light waves-effect" href="">Something else here</a>
                                        </div>
                                    </div>
                                </div>

                            <form>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="To">
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input type="email" class="form-control" placeholder="Cc">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="email" class="form-control" placeholder="Bcc">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Subject">
                                </div>
                                <div summernote height="350">Hello Summernote</div>

                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Container-fluid ends -->
    </div>
</div>
</div>

