<div  class="sidebar-mini fixed" >
   
    <div class="wrapper" >
   
<div ng-include="'shared/header.html'"></div>
 <div ng-include="'shared/sidebar.html'" data-ng-controller="menuController" data-ng-init="setMenu()"></div> 

    <div class="content-wrapper">
        <!-- Container-fluid starts -->
       <div class="container-fluid">
		<!-- Main content starts -->
		<div >
			<!-- Row Starts -->
			<div class="row">
				<div class="col-sm-12 p-0">
					<div class="main-header">
						<h4>Lists</h4>
						<ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
							<li class="breadcrumb-item"><a href="index.html"><i class="icofont icofont-home"></i></a>
							</li>
							<li class="breadcrumb-item"><a href="#!">UI Element</a>
							</li>
							<li class="breadcrumb-item"><a href="list.html">Lists</a>
							</li>
						</ol>
					</div>
				</div>
			</div>
			<!-- Row end -->

			<!-- Row start -->
			<div class="row">
				<!-- List View starts -->
				<div class="col-md-12">
					<div class="card">
						<div class="card-header"><h5 class="card-header-text">Basic Lists</h5></div>
						<div class="row card-block">
							<div class="col-md-12 col-lg-4">
                                <h6 class="sub-title">Text list</h6>
									<ul class="basic-list">
										<li class=""><h6>Heading</h6>
											<p>Laborum nihil aliquam nulla praesentium illo libero nihil at odio maxime.</p>
										</li>
										<li class=""><h6>Heading</h6>
											<p>Laborum nihil aliquam nulla praesentium illo libero nihil at odio maxime.</p>
										</li>
										<li class=""><h6>Heading</h6>
											<p>Laborum nihil aliquam nulla praesentium illo libero nihil at odio maxime.</p>
										</li>
									</ul>
							</div>
							<div class="col-md-12 col-lg-4">
                                    <h6 class="sub-title">Text with Icon Lists</h6>
									<ul class="basic-list list-icons">
										<li>
											<i class="icofont icofont-speech-comments txt-primary p-absolute text-center d-block f-30"></i>
											<h6>Heading</h6>
											<p>Laborum nihil aliquam nulla praesentium illo libero nihil at odio maxime.</p>
										</li>
										<li><h6>Heading</h6>
											<i class="icofont icofont-warning  txt-primary p-absolute text-center d-block f-30"></i>
											<p>Laborum nihil aliquam nulla praesentium illo libero nihil at odio maxime.</p>
										</li>
										<li><h6>Heading</h6>
											<i class="icofont icofont-bell-alt txt-primary p-absolute text-center d-block f-30"></i>
											<p>Laborum nihil aliquam nulla praesentium illo libero nihil at odio maxime.</p>
										</li>
									</ul>
							</div>
							<div class="col-md-12 col-lg-4">
                                    <h6 class="sub-title">Text with images Lists</h6>
									<ul class="basic-list list-icons-img">
										<li>
											<img src="assets/images/avatar-1.png" class="img-fluid img-circle p-absolute d-block text-center" alt="">
											<h6>Heading</h6>
											<p>Laborum nihil aliquam nulla praesentium illo libero nihil at odio maxime.</p>
										</li>
										<li><h6>Heading</h6>
											<img src="assets/images/avatar-2.png" class="img-fluid img-circle  p-absolute d-block text-center" alt="">
											<p>Laborum nihil aliquam nulla praesentium illo libero nihil at odio maxime.</p>
										</li>
										<li><h6>Heading</h6>
											<img src="assets/images/avatar-3.png" class="img-fluid img-circle  p-absolute d-block text-center" alt="">
											<p>Laborum nihil aliquam nulla praesentium illo libero nihil at odio maxime.</p>
										</li>
									</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- Basic list ends -->
			</div>
			<!-- Row end -->

            <!-- Row start -->
            <div class="row">
                <!-- list style starts -->
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header"><h5 class="card-header-text">List View</h5></div>
                        <div class="row card-block">
                            <div class="col-md-12">
                                <ul class="list-view">
                                    <li>
                                     <div class="card">
                                         <div class="card-block">
                                             <div class="media">
                                                 <a class="media-left" href="">
                                                     <img class="media-object img-circle card-list-img" src="assets/images/avatar-1.png" alt="Generic placeholder image">
                                                 </a>
                                                 <div class="media-body">
                                                     <div>
                                                         <h6 class="d-inline-block">Heading</h6>
                                                         <label class="label label-info">Agent</label>
                                                     </div>
                                                     <div class="f-13 text-muted m-b-15">Softwear Engineer</div>
                                                     <p>Hi, This is my short intro text. Lorem ipsum is a dummy content sit dollar. You can copy and paste this dummy content from anywhere and to anywhere. Its all free and must be a good to folllow in prectice</p>
                                                     <div class="m-t-15">
                                                     <button type="button" class="btn btn-facebook btn-mini waves-effect waves-light">
                                                         <span class="icofont icofont-social-facebook"></span>
                                                     </button>
                                                     <button type="button" class="btn btn-twitter btn-mini waves-effect waves-light">
                                                         <span class="icofont icofont-social-twitter"></span>
                                                     </button>
                                                     <button type="button" class="btn btn-linkedin btn-mini waves-effect waves-light">
                                                         <span class="icofont icofont-brand-linkedin"></span>
                                                     </button>
                                                     <button type="button" class="btn btn-dribbble btn-mini waves-effect waves-light">
                                                         <span class="icofont icofont-social-dribble"></span>
                                                     </button>
                                                     </div>
                                                 </div>
                                             </div>
                                         </div>
                                     </div>
                                    </li>
                                    <li class="">
                                        <div class="card">
                                            <div class="card-block">
                                                <div class="media">
                                                    <a class="media-left" href="">
                                                        <img class="media-object img-circle card-list-img" src="assets/images/avatar-2.png" alt="Generic placeholder image">
                                                    </a>
                                                    <div class="media-body">
                                                        <div>
                                                            <h6 class="d-inline-block">Heading</h6>
                                                            <label class="label label-info">Sales Man</label>
                                                        </div>
                                                        <div class="f-13 text-muted m-b-15">Softwear Engineer</div>
                                                        <p>Hi, This is my short intro text. Lorem ipsum is a dummy content sit dollar. You can copy and paste this dummy content from anywhere and to anywhere. Its all free and must be a good to folllow in prectice</p>
                                                        <div class="m-t-15">
															<button type="button" class="btn btn-facebook btn-mini waves-effect waves-light">
																<span class="icofont icofont-social-facebook"></span>
															</button>
															<button type="button" class="btn btn-twitter btn-mini waves-effect waves-light">
																<span class="icofont icofont-social-twitter"></span>
															</button>
															<button type="button" class="btn btn-linkedin btn-mini waves-effect waves-light">
																<span class="icofont icofont-brand-linkedin"></span>
															</button>
															<button type="button" class="btn btn-dribbble btn-mini waves-effect waves-light">
																<span class="icofont icofont-social-dribble"></span>
															</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="">
                                        <div class="card">
                                            <div class="card-block">
                                                <div class="media">
                                                    <a class="media-left" href="">
                                                        <img class="media-object img-circle card-list-img" src="assets/images/avatar-3.png" alt="Generic placeholder image">
                                                    </a>
                                                    <div class="media-body">
                                                        <div>
                                                            <h6 class="d-inline-block">Heading</h6>
                                                            <label class="label  label-info">Accountant</label>
                                                        </div>
                                                        <div class="f-13 text-muted m-b-15">Softwear Engineer</div>
                                                        <p>Hi, This is my short intro text. Lorem ipsum is a dummy content sit dollar. You can copy and paste this dummy content from anywhere and to anywhere. Its all free and must be a good to folllow in prectice</p>
                                                        <div class="m-t-15">
															<button type="button" class="btn btn-facebook btn-mini waves-effect waves-light">
																<span class="icofont icofont-social-facebook"></span>
															</button>
															<button type="button" class="btn btn-twitter btn-mini waves-effect waves-light">
																<span class="icofont icofont-social-twitter"></span>
															</button>
															<button type="button" class="btn btn-linkedin btn-mini waves-effect waves-light">
																<span class="icofont icofont-brand-linkedin"></span>
															</button>
															<button type="button" class="btn btn-dribbble btn-mini waves-effect waves-light">
																<span class="icofont icofont-social-dribble"></span>
															</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- list style ends -->
            </div>
            <!-- Row end -->

			<!-- Row start -->
			<div class="row">
				<!-- Dynamic List starts -->
				<div class="col-md-12 dynamic-list">
					<div class="card">
						<div class="card-header"><h5 class="card-header-text">Dynamic Lists</h5></div>
						<div class="row card-block">
							<div class="col-md-6 col-lg-4">
								<div class="dynamic-row">
                                    <h6 class="sub-title">List Item Adding (Dump Computer)</h6>
									<div class="dynamic-list-one effeckt-list-wrap">
										<ul class="effeckt-list  m-b-0" data-effeckt-type="pop-in">
											<li class="p-t-0"><h6>list item 1</h6></li>
											<li><h6>list item 2</h6></li>
											<li><h6>list item 3</h6></li>
											<li><h6>list item 4</h6></li>
											<li><h6>list item 5</h6></li>
											<li><h6>list item 6</h6></li>
										</ul>
										<button type="submit" class="btn btn-primary m-r-15 m-l-15 add" data-angular-ripple>Add</button>
										<button class="btn btn-primary remove" data-angular-ripple>Remove</button>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-lg-4">
								<div class="dynamic-row">
                                    <h6 class="sub-title">List Item Adding (Brain Clue Style1</h6>
									<div class="dynamic-list-two effeckt-list-wrap">
										<ul class="effeckt-list  m-b-0" data-effeckt-type="expand-in">
											<li class="p-t-0"><h6>list item 1</h6></li>
											<li><h6>list item 2</h6></li>
											<li><h6>list item 3</h6></li>
											<li><h6>list item 4</h6></li>
											<li><h6>list item 5</h6></li>
											<li><h6>list item 6</h6></li>
										</ul>
										<button type="submit" class="btn btn-primary m-r-15 m-l-15 add" data-angular-ripple>Add</button>
										<button class="btn btn-primary remove" data-angular-ripple>Remove</button>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-lg-4">
								<div class="dynamic-row">
                                    <h6 class="sub-title">List Item Adding (Brain Clue Style2)</h6>
									<div class="dynamic-list-three effeckt-list-wrap">
										<ul class="effeckt-list  m-b-0" data-effeckt-type="fall-in">
											<li class="p-t-0"><h6>list item 1</h6></li>
											<li><h6>list item 2</h6></li>
											<li><h6>list item 3</h6></li>
											<li><h6>list item 4</h6></li>
											<li><h6>list item 5</h6></li>
											<li><h6>list item 6</h6></li>
										</ul>
										<button type="submit" class="btn btn-primary m-r-15 m-l-15 add" data-angular-ripple>Add</button>
										<button class="btn btn-primary remove" data-angular-ripple>Remove</button>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-lg-4">
								<div class="dynamic-row">
									<h6 class="sub-title">Details View(Dumb Computer)</h6>
									<div class="dynamic-list-five">
										<ul class="m-b-0">
											<li class="p-t-0"><h6>...</h6></li>
											<li><h6>...</h6></li>
											<li><h6>...</h6></li>
											<li id="dynamic-list-five-button">
												<h6>List Summary</h6>
												<div class="details">
													<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
												</div>
											</li>
											<li><h6>...</h6></li>
											<li class="p-b-0"><h6>...</h6></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-6 col-lg-4">
								<div class="dynamic-row">
                                    <h6 class="sub-title">Details View(Brain Clue)</h6>
										<div class="dynamic-list-six">
										<ul class="m-b-0" id="dynamic-list-six-list">
											<li class="p-t-0"><h6>...</h6></li>
											<li><h6>...</h6></li>
											<li><h6>...</h6></li>
											<li><h6>...</h6></li>
											<li id="dynamic-list-six-button">
												<h6>List Summary</h6>
												<div class="details">
													<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
												</div>
												<a href="" class="close-button" role="button" title="close">×</a>
											</li>
											<li class="p-b-0"><h6>...</h6></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Badges ends -->
			</div>
			<!-- Row end -->
		
		</div>
	</div>
        <!-- Container-fluid ends -->
     </div>
</div>
</div>

