<div >
	<section id="maintance" class="maintances">
		<div class="container-fluid">
			<div class="row d-flex">
				<div class="col-md-6 col-lg-4 offset-md-1">
					<img src="assets/images/maintance.png" class="img-fluid" alt="down">
				</div>
				<div class="col-md-6 col-lg-8">
					<h6 class="f-w-600 f-45 m-b-25">Opps! We are down for bit of Maintenance.</h6>
					<h4 class="maintainance-subtitle f-24 m-b-25">we will be back soon.</h4>
						<div class="col-sm-12 m-b-20">
							<p class="m-b-20 f-16 f-w-400">CONTACT WITH US
							</p>
								<a href="#!" class="icofont icofont-social-facebook f-30 m-r-20 txt-muted"></a>
              					<a href="#!" class="icofont icofont-social-twitter f-30 m-r-20 txt-muted"></a>
            					<a href="#!" class="icofont icofont-social-google-plus f-30 m-r-20 txt-muted"></a>
            					<a href="#!" class="icofont icofont-social-pinterest f-30 m-r-20 txt-muted"></a>
            					<a href="#!" class="icofont icofont-social-dribble f-30 m-r-20 txt-muted"></a>
						</div>
						<p class="f-18">still not working?&nbsp;
							<a href="#!" class="f-18 txt-primary">Contact Support</a>
						</p>
				</div>
				<!-- end of col-sm-8 -->
			</div>
			<!-- end of row -->
		</div>
		<!-- end of container-fluid -->
	</section>
</div>
