

  <div  class="sidebar-mini fixed" >
   
    <div class="wrapper" >
   
 <div ng-include="'shared/header.html'"></div>
 <div ng-include="'shared/sidebar.html'" data-ng-controller="menuController" data-ng-init="setMenu()"></div> 

    <div class="content-wrapper">
        <!-- Container-fluid starts -->
       <div class="container-fluid">
		<!-- Main content starts -->
		<div >
			<!-- Row Starts -->
			<div class="row">
				<div class="col-xl-12 p-0">
					<div class="main-header">
						<h4>Preloader</h4>
						<ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
							<li class="breadcrumb-item"><a href="index.html"><i class="icofont icofont-home"></i></a>
							</li>
							<li class="breadcrumb-item"><a href="#!">Extras</a>
							</li>
							<li class="breadcrumb-item"><a href="preloader.html">Preloader</a>
							</li>
						</ol>
					</div>
				</div>
			</div>
			<!-- Row end -->

			<!-- Row Starts -->

			<div class="row">
				<div class="col-xl-12">

					<div class="card loaders">
						<div class="card-header"><h5 class="card-header-text">Style</h5></div>
						<div class="card-block">
							<div class="row">
								<div class="col-xl-2 col-md-4 col-sm-6">
									<h6 class="sub-title">Loader Style 1</h6>
									<div class="preloader3 loader-block">
										<div class="circ1"></div>
										<div class="circ2"></div>
										<div class="circ3"></div>
										<div class="circ4"></div>
									</div>
								</div>
								<div class="col-xl-2 col-md-4 col-sm-6">
									<h6 class="sub-title">Loader Style 2(Using SVG)</h6>
									<div class="loader-block">
										<svg id="loader2" viewBox="0 0 100 100">
											<circle id="circle-loader2" cx="50" cy="50" r="45"></circle>
										</svg>
									</div>
								</div>
								<div class="col-xl-2 col-md-4 col-sm-6">
									<h6 class="sub-title">Loader Style 3</h6>
									<div class="text-center loader-block">
										<div class="preloader4">
											<div class="double-bounce1"></div>
											<div class="double-bounce2"></div>
										</div>
									</div>
								</div>
								<div class="col-xl-2 col-md-4 col-sm-6">
									<h6 class="sub-title">Loader Style 4</h6>
									<div class="loader-block cell preloader5">
										<div class="circle-5 l"></div>
										<div class="circle-5 m"></div>
										<div class="circle-5 r"></div>
									</div>
								</div>
								<div class="col-xl-2 col-md-4 col-sm-6">
									<h6 class="sub-title">Loader Style 5</h6>
									<div class="loader animation-start">
										<span class="circle delay-1 size-2"></span>
										<span class="circle delay-2 size-4"></span>
										<span class="circle delay-3 size-6"></span>
										<span class="circle delay-4 size-7"></span>
										<span class="circle delay-5 size-7"></span>
										<span class="circle delay-6 size-6"></span>
										<span class="circle delay-7 size-4"></span>
										<span class="circle delay-8 size-2"></span>
									</div>
								</div>
								<div class="col-xl-2 col-md-4 col-sm-6">
									<h6 class="sub-title">Loader Style 6</h6>
									<div class="loader-block">
										<div class="preloader6"><hr></div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<!-- Row end -->

			<!-- Row Starts -->
			<div class="row">
				<div class="col-xl-12">
					<div class="card">

						<div class="card-header"><h5 class="card-header-text">Color</h5></div>
						<div class="card-block">
							<div class="row">
								<div class="col-xl-2 col-md-4 col-sm-6">
									<h6 class="sub-title">Loader Default Style</h6>
									<div class="preloader3 loader-block">
										<div class="circ1 bg-default"></div>
										<div class="circ2 bg-default"></div>
										<div class="circ3 bg-default"></div>
										<div class="circ4 bg-default"></div>
									</div>
								</div>
								<div class="col-xl-2 col-md-4 col-sm-6">
									<h6 class="sub-title">Loader primary Style</h6>
									<div class="preloader3 loader-block">
										<div class="circ1 bg-primary"></div>
										<div class="circ2 bg-primary"></div>
										<div class="circ3 bg-primary"></div>
										<div class="circ4 bg-primary"></div>
									</div>
								</div>
								<div class="col-xl-2 col-md-4 col-sm-6">
									<h6 class="sub-title">Loader Success Style</h6>
									<div class="preloader3 loader-block">
										<div class="circ1 bg-success"></div>
										<div class="circ2 bg-success"></div>
										<div class="circ3 bg-success"></div>
										<div class="circ4 bg-success"></div>
									</div>
								</div>
								<div class="col-xl-2 col-md-4 col-sm-6">
									<h6 class="sub-title">Loader Warning Style</h6>
									<div class="preloader3 loader-block">
										<div class="circ1 bg-warning"></div>
										<div class="circ2 bg-warning"></div>
										<div class="circ3 bg-warning"></div>
										<div class="circ4 bg-warning"></div>
									</div>
								</div>
								<div class="col-xl-2 col-md-4 col-sm-6">
									<h6 class="sub-title">Loader danger Style</h6>
									<div class="preloader3 loader-block">
										<div class="circ1 bg-danger"></div>
										<div class="circ2 bg-danger"></div>
										<div class="circ3 bg-danger"></div>
										<div class="circ4 bg-danger"></div>
									</div>
								</div>
								<div class="col-xl-2 col-md-4 col-sm-6">
									<h6 class="sub-title">Loader info Style</h6>
									<div class="preloader3 loader-block">
										<div class="circ1 bg-info"></div>
										<div class="circ2 bg-info"></div>
										<div class="circ3 bg-info"></div>
										<div class="circ4 bg-info"></div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<!-- Row end -->

			<!-- Row Starts -->
			<div class="row">
				<div class="col-xl-12">
					<div class="card">
						<div class="card-header"><h5 class="card-header-text">Sizes</h5></div>
						<div class="card-block">
							<div class="row">
								<div class="col-xl-2 col-md-4 col-sm-6">
									<h6 class="sub-title">Normal</h6>
									<div class="preloader3 loader-block">
										<div class="circ1 bg-default"></div>
										<div class="circ2 bg-default"></div>
										<div class="circ3 bg-default"></div>
										<div class="circ4 bg-default"></div>
									</div>
								</div>
								<div class="col-xl-2 col-md-4 col-sm-6">
									<h6 class="sub-title">Mediam</h6>
									<div class="preloader3 loader-block">
										<div class="circ1 bg-primary loader-md"></div>
										<div class="circ2 bg-primary loader-md"></div>
										<div class="circ3 bg-primary loader-md"></div>
										<div class="circ4 bg-primary loader-md"></div>
									</div>
								</div>
								<div class="col-xl-2 col-md-4 col-sm-6">
									<h6 class="sub-title">Large</h6>
									<div class="preloader3 loader-block">
										<div class="circ1 bg-success loader-lg"></div>
										<div class="circ2 bg-success loader-lg"></div>
										<div class="circ3 bg-success loader-lg"></div>
										<div class="circ4 bg-success loader-lg"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Row end -->
		</div>
		<!-- Main content ends -->
	</div>
        <!-- Container-fluid ends -->
     </div>
</div>
</div>

