<div  class="sidebar-mini fixed" >
   
    <div class="wrapper">
   
 <div ng-include="'shared/header.html'"></div>
 <div ng-include="'shared/sidebar.html'" data-ng-controller="menuController" data-ng-init="setMenu()"></div> 
   
    <div class="content-wrapper">
        <!-- Container-fluid starts -->
        <div class="container-fluid">
            <!-- Main content starts -->
            <div >
                <!-- Row Starts -->
                <div class="row">
                    <div class="col-sm-12 p-0">
                        <div class="main-header">
                            <h4>Product</h4>
                            <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                                <li class="breadcrumb-item"><a href="index.html"><i class="icofont icofont-home"></i></a>
                                </li>
                                <li class="breadcrumb-item"><a href="#!">E-Commerce</a>
                                </li>
                                <li class="breadcrumb-item"><a href="product.html">Product</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- Row end -->

                <!-- Product starts -->
                <!--Product row start-->

                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="card prod-view">
                            <div class="prod-item text-center">
                                <div class="prod-img">
                                    <div class="option-hover">
                                        <button type="button" class="btn btn-danger btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="icofont icofont-cart-alt f-20"></i>
                                        </button>
                                        <button type="button" class="btn btn-primary btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="icofont icofont-eye-alt f-20"></i>
                                        </button>
                                        <button type="button" class="btn btn-danger btn-icon waves-effect waves-light hvr-bounce-in option-icon">
                                            <i class="icofont icofont-heart-alt f-20"></i>
                                        </button>
                                    </div>
                                    <a href="#!" class="hvr-shrink">
                                        <img src="assets/images/e-commerce/product/prod1.png" class="img-fluid o-hidden">
                                    </a>
                                    <div class="p-new"><a href=""> New </a></div>
                                </div>
                                <div class="prod-info">
                                    <h5><a href="" class="txt-muted"> Women black Frock </a></h5>
                                   <div ng-model="a" data-bar-rating-options="ratingOptionsNumbers" data-bar-rating-settings="ratingSettings7" data-ng-bar-rating id="firstStart" data-current-rating="1"></div>
                                    <h6 class="txt-danger"><i class="icofont icofont-cur-dollar"></i> 1250</h6>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="card prod-view">
                            <div class="prod-item text-center">
                                <div class="prod-img">
                                    <div class="option-hover">
                                        <button type="button" class="btn btn-danger btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="icofont icofont-cart-alt f-20"></i>
                                        </button>
                                        <button type="button" class="btn btn-primary btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="icofont icofont-eye-alt f-20"></i>
                                        </button>
                                        <button type="button" class="btn btn-danger btn-icon waves-effect waves-light hvr-bounce-in option-icon">
                                            <i class="icofont icofont-heart-alt f-20"></i>
                                        </button>
                                    </div>
                                    <a href="#!" class="hvr-shrink">
                                        <img src="assets/images/e-commerce/product/prod2.png" class="img-fluid o-hidden">
                                    </a>
                                    <div class="p-sale">SALE</div>
                                </div>
                                <div class="prod-info">
                                    <h5><a href="" class="txt-muted"> Women black Frock </a></h5>
                                   <div ng-model="a" data-bar-rating-options="ratingOptionsNumbers" data-bar-rating-settings="ratingSettings7" data-ng-bar-rating id="firstStart" data-current-rating="1"></div>
                                    <h6 class="txt-danger"><i class="icofont icofont-cur-dollar"></i> 1250</h6>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="card prod-view">
                            <div class="prod-item text-center">
                                <div class="prod-img">
                                    <div class="option-hover">
                                        <button type="button" class="btn btn-danger btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="icofont icofont-cart-alt f-20"></i>
                                        </button>
                                        <button type="button" class="btn btn-primary btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="icofont icofont-eye-alt f-20"></i>
                                        </button>
                                        <button type="button" class="btn btn-danger btn-icon waves-effect waves-light hvr-bounce-in option-icon">
                                            <i class="icofont icofont-heart-alt f-20"></i>
                                        </button>
                                    </div>
                                    <a href="#!" class="hvr-shrink">
                                        <img src="assets/images/e-commerce/product/prod3.png" class="img-fluid o-hidden">
                                    </a>
                                </div>
                                <div class="prod-info">
                                    <h5><a href="" class="txt-muted"> Women black Frock </a></h5>
                                    <div ng-model="a" data-bar-rating-options="ratingOptionsNumbers" data-bar-rating-settings="ratingSettings7" data-ng-bar-rating id="firstStart" data-current-rating="1"></div>
                                    <h6 class="txt-danger"><i class="icofont icofont-cur-dollar"></i> 1250</h6>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="card prod-view">
                            <div class="prod-item text-center">
                                <div class="prod-img">
                                    <div class="option-hover">
                                        <button type="button" class="btn btn-danger btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="icofont icofont-cart-alt f-20"></i>
                                        </button>
                                        <button type="button" class="btn btn-primary btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="icofont icofont-eye-alt f-20"></i>
                                        </button>
                                        <button type="button" class="btn btn-danger btn-icon waves-effect waves-light hvr-bounce-in option-icon">
                                            <i class="icofont icofont-heart-alt f-20"></i>
                                        </button>
                                    </div>
                                    <a href="#!" class="hvr-shrink">
                                        <img src="assets/images/e-commerce/product/prod4.png" class="img-fluid o-hidden">
                                    </a>
                                    <div class="p-new"><a href="#!"> 25% </a></div>
                                </div>
                                <div class="prod-info">
                                    <h5><a href="" class="txt-muted"> Women black Frock </a></h5>
                                   <div ng-model="a" data-bar-rating-options="ratingOptionsNumbers" data-bar-rating-settings="ratingSettings7" data-ng-bar-rating id="firstStart" data-current-rating="1"></div>
                                    <h6 class="txt-danger"><i class="icofont icofont-cur-dollar"></i> 1250</h6>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="card prod-view">
                            <div class="prod-item text-center">
                                <div class="prod-img">
                                    <div class="option-hover">
                                        <button type="button" class="btn btn-danger btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="icofont icofont-cart-alt f-20"></i>
                                        </button>
                                        <button type="button" class="btn btn-primary btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="icofont icofont-eye-alt f-20"></i>
                                        </button>
                                        <button type="button" class="btn btn-danger btn-icon waves-effect waves-light hvr-bounce-in option-icon">
                                            <i class="icofont icofont-heart-alt f-20"></i>
                                        </button>
                                    </div>
                                    <a href="#!" class="hvr-shrink">
                                        <img src="assets/images/e-commerce/product/prod5.png" class="img-fluid o-hidden">
                                    </a>
                                </div>
                                <div class="prod-info">
                                    <h5><a href="#!" class="txt-muted"> Women black Frock </a></h5>
                                    <div ng-model="a" data-bar-rating-options="ratingOptionsNumbers" data-bar-rating-settings="ratingSettings7" data-ng-bar-rating id="firstStart" data-current-rating="1"></div>
                                    <h6 class="txt-danger"><i class="icofont icofont-cur-dollar"></i> 1250</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="card prod-view">
                            <div class="prod-item text-center">
                                <div class="prod-img">
                                    <div class="option-hover">
                                        <button type="button" class="btn btn-danger btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="icofont icofont-cart-alt f-20"></i>
                                        </button>
                                        <button type="button" class="btn btn-primary btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="icofont icofont-eye-alt f-20"></i>
                                        </button>
                                        <button type="button" class="btn btn-danger btn-icon waves-effect waves-light hvr-bounce-in option-icon">
                                            <i class="icofont icofont-heart-alt f-20"></i>
                                        </button>
                                    </div>
                                    <a href="#!" class="hvr-shrink">
                                        <img src="assets/images/e-commerce/product/prod6.png" class="img-fluid o-hidden">
                                    </a>
                                </div>
                                <div class="prod-info">
                                    <h5><a href="#!" class="txt-muted"> Women black Frock </a></h5>
                                   <div ng-model="a" data-bar-rating-options="ratingOptionsNumbers" data-bar-rating-settings="ratingSettings7" data-ng-bar-rating id="firstStart" data-current-rating="1"></div>
                                    <h6 class="txt-danger"><i class="icofont icofont-cur-dollar"></i> 1250</h6>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="card prod-view">
                            <div class="prod-item text-center">
                                <div class="prod-img">
                                    <div class="option-hover">
                                        <button type="button" class="btn btn-danger btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="icofont icofont-cart-alt f-20"></i>
                                        </button>
                                        <button type="button" class="btn btn-primary btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="icofont icofont-eye-alt f-20"></i>
                                        </button>
                                        <button type="button" class="btn btn-danger btn-icon waves-effect waves-light hvr-bounce-in option-icon">
                                            <i class="icofont icofont-heart-alt f-20"></i>
                                        </button>
                                    </div>
                                    <a href="#!" class="hvr-shrink">
                                        <img src="assets/images/e-commerce/product/prod7.png" class="img-fluid o-hidden">
                                    </a>
                                </div>
                                <div class="prod-info">
                                    <h5><a href="#!" class="txt-muted"> Women black Frock </a></h5>
                                    <div ng-model="a" data-bar-rating-options="ratingOptionsNumbers" data-bar-rating-settings="ratingSettings7" data-ng-bar-rating id="firstStart" data-current-rating="1"></div>
                                    <h6 class="txt-danger"><i class="icofont icofont-cur-dollar"></i> 1250</h6>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="card prod-view">
                            <div class="prod-item text-center">
                                <div class="prod-img">
                                    <div class="option-hover">
                                        <button type="button" class="btn btn-danger btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="icofont icofont-cart-alt f-20"></i>
                                        </button>
                                        <button type="button" class="btn btn-primary btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="icofont icofont-eye-alt f-20"></i>
                                        </button>
                                        <button type="button" class="btn btn-danger btn-icon waves-effect waves-light hvr-bounce-in option-icon">
                                            <i class="icofont icofont-heart-alt f-20"></i>
                                        </button>
                                    </div>
                                    <a href="#!" class="hvr-shrink">
                                        <img src="assets/images/e-commerce/product/prod8.png" class="img-fluid o-hidden">
                                    </a>
                                    <div class="p-new"><a href=""> 15% </a></div>

                                </div>
                                <div class="prod-info">
                                    <h5><a href="#!" class="txt-muted"> Women black Frock </a></h5>
                                   <div ng-model="a" data-bar-rating-options="ratingOptionsNumbers" data-bar-rating-settings="ratingSettings7" data-ng-bar-rating id="firstStart" data-current-rating="1"></div>
                                    <h6 class="txt-danger"><i class="icofont icofont-cur-dollar"></i> 1250</h6>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="card prod-view">
                            <div class="prod-item text-center">
                                <div class="prod-img">
                                    <div class="option-hover">
                                        <button type="button" class="btn btn-danger btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="icofont icofont-cart-alt f-20"></i>
                                        </button>
                                        <button type="button" class="btn btn-primary btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="icofont icofont-eye-alt f-20"></i>
                                        </button>
                                        <button type="button" class="btn btn-danger btn-icon waves-effect waves-light hvr-bounce-in option-icon">
                                            <i class="icofont icofont-heart-alt f-20"></i>
                                        </button>
                                    </div>
                                    <a href="#!" class="hvr-shrink">
                                        <img src="assets/images/e-commerce/product/prod9.png" class="img-fluid o-hidden">
                                    </a>
                                </div>
                                <div class="prod-info">
                                    <h5><a href="#!" class="txt-muted"> Women black Frock </a></h5>
                                   <div ng-model="a" data-bar-rating-options="ratingOptionsNumbers" data-bar-rating-settings="ratingSettings7" data-ng-bar-rating id="firstStart" data-current-rating="1"></div>
                                    <h6 class="txt-danger"><i class="icofont icofont-cur-dollar"></i> 1250</h6>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="card prod-view">
                            <div class="prod-item text-center">
                                <div class="prod-img">
                                    <div class="option-hover">
                                        <button type="button" class="btn btn-danger btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="icofont icofont-cart-alt f-20"></i>
                                        </button>
                                        <button type="button" class="btn btn-primary btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="icofont icofont-eye-alt f-20"></i>
                                        </button>
                                        <button type="button" class="btn btn-danger btn-icon waves-effect waves-light hvr-bounce-in option-icon">
                                            <i class="icofont icofont-heart-alt f-20"></i>
                                        </button>
                                    </div>
                                    <a href="#!" class="hvr-shrink">
                                        <img src="assets/images/e-commerce/product/prod5.png" class="img-fluid o-hidden">
                                    </a>
                                    <div class="p-sale">SALE</div>
                                </div>
                                <div class="prod-info">
                                    <h5><a href="#!" class="txt-muted"> Women black Frock </a></h5>
                                   <div ng-model="a" data-bar-rating-options="ratingOptionsNumbers" data-bar-rating-settings="ratingSettings7" data-ng-bar-rating id="firstStart" data-current-rating="1"></div>
                                    <h6 class="txt-danger"><i class="icofont icofont-cur-dollar"></i> 1250</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="card prod-view">
                            <div class="prod-item text-center">
                                <div class="prod-img">
                                    <div class="option-hover">
                                        <button type="button" class="btn btn-danger btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="icofont icofont-cart-alt f-20"></i>
                                        </button>
                                        <button type="button" class="btn btn-primary btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="icofont icofont-eye-alt f-20"></i>
                                        </button>
                                        <button type="button" class="btn btn-danger btn-icon waves-effect waves-light hvr-bounce-in option-icon">
                                            <i class="icofont icofont-heart-alt f-20"></i>
                                        </button>
                                    </div>
                                    <a href="#!" class="hvr-shrink">
                                        <img src="assets/images/e-commerce/product/prod10.png" class="img-fluid o-hidden">
                                    </a>
                                </div>
                                <div class="prod-info">
                                    <h5><a href="#!" class="txt-muted"> Women black Frock </a></h5>
                                   <div ng-model="a" data-bar-rating-options="ratingOptionsNumbers" data-bar-rating-settings="ratingSettings7" data-ng-bar-rating id="firstStart" data-current-rating="1"></div>
                                    <h6 class="txt-danger"><i class="icofont icofont-cur-dollar"></i> 1250</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        <div class="card prod-view">
                            <div class="prod-item text-center">
                                <div class="prod-img">
                                    <div class="option-hover">
                                        <button type="button" class="btn btn-danger btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="icofont icofont-cart-alt f-20"></i>
                                        </button>
                                        <button type="button" class="btn btn-primary btn-icon waves-effect waves-light m-r-15 hvr-bounce-in option-icon">
                                            <i class="icofont icofont-eye-alt f-20"></i>
                                        </button>
                                        <button type="button" class="btn btn-danger btn-icon waves-effect waves-light hvr-bounce-in option-icon">
                                            <i class="icofont icofont-heart-alt f-20"></i>
                                        </button>
                                    </div>
                                    <a href="#!" class="hvr-shrink">
                                        <img src="assets/images/e-commerce/product/prod1.png" class="img-fluid o-hidden">
                                    </a>

                                </div>
                                <div class="prod-info">
                                    <h5><a href="#!" class="txt-muted"> Women black Frock </a></h5>
                                    <div ng-model="a" data-bar-rating-options="ratingOptionsNumbers" data-bar-rating-settings="ratingSettings7" data-ng-bar-rating id="firstStart" data-current-rating="1"></div>
                                    <h6 class="txt-danger"><i class="icofont icofont-cur-dollar"></i> 1250</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Product row End-->
                <!-- Product Ends -->
            </div>
        </div>
        <!-- Container-fluid ends -->
    </div>
</div>
</div>

