

  <div  class="sidebar-mini fixed" >
   
    <div class="wrapper" >
   
<div ng-include="'shared/header.html'"></div>
 <div ng-include="'shared/sidebar.html'" data-ng-controller="menuController" data-ng-init="setMenu()"></div> 
 
    <div class="content-wrapper">
        <!-- Container-fluid starts -->
        <div class="container-fluid">
            <!-- Main content starts -->

            <!-- Header Starts -->
            <div class="row">
                <div class="col-sm-12 p-0">
                    <div class="main-header">
                        <h4>CRM-Dashboard</h4>
                        <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                            <li class="breadcrumb-item">
                                <a href="index.html">
                                    <i class="icofont icofont-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item"><a href="">CRM-Dashboard</a></li>
                            <li class="breadcrumb-item"><a href="crm-dashboard.html">CRM-Dashboard</a></li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- Header end -->


            <!-- Row start -->
            <div class="row">
                <!-- DEALS ANALYTICS AREA start -->
                <div class="col-sm-12 default-grid-item ">
                    <div class="card">
                        <div class="card-header"><h5 class="card-header-text">DEALS ANALYTICS AREA</h5></div>
                        <div class="card-block">
                            <div class="font-header">
                                <button type="button" class="btn btn-primary waves-effect waves-light m-r-5"> Week
                                </button>
                                <button type="button" class="btn btn-primary waves-effect waves-light m-r-5"> Month
                                </button>
                                <button type="button" class="btn btn-primary waves-effect waves-light"> Year
                                </button>
                            </div>
                            <div
area-chart
area-data='[
    { y: "2006", a: 100, b: 90 },
    { y: "2007", a: 75,  b: 65 },
    { y: "2008", a: 50,  b: 40 },
    { y: "2009", a: 75,  b: 65 },
    { y: "2010", a: 50,  b: 40 },
    { y: "2011", a: 75,  b: 65 },
    { y: "2012", a: 100, b: 90 }
  ]'
area-xkey='y'
area-ykeys='["a", "b"]'
area-labels='["Serie A", "Serie B"]'
line-colors='["#40c4ff","#f57c00"]'>
</div>
                        </div>

                    </div>
                </div>
                <!-- DEALS ANALYTICS AREA end -->
            </div>

            <div class="row">
                <!-- INVOICE STATISTICS start -->
                <div class="col-xl-4 col-lg-6 col-md-12 default-grid-item ">
                    <div class="card">
                        <div class="card-header"><h5 class="card-header-text">Invoice Statistics</h5></div>
                        <div class="card-block">
                            <div class="table-responsive">
                                <table class="table m-b-0">
                                    <tbody>
                                    <tr>
                                        <th>Total Invoices</th>
                                        <td>30</td>
                                        <td><a href="">1,498.50 $</a>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>Total Paid</th>
                                        <td>25</td>
                                        <td><a href="">1,248.75 $</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Total Due</th>
                                        <td>5</td>
                                        <td><a href="">249.75 $</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Total Overdue</th>
                                        <td>0</td>
                                        <td><a href="">0.00 $</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Total Shipping</th>
                                        <td>25</td>
                                        <td><a href="">150.00 $</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Total Amount</th>
                                        <td>50</td>
                                        <td><a href="">250.25 $</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
                <!--  INVOICE STATISTICS end -->

                <!-- Sales Statistics start -->
                <div class="col-xl-4 col-lg-6 col-md-12 default-grid-item ">
                    <div class="card">
                        <div class="card-header"><h5 class="card-header-text">Sales Statistics</h5></div>
                        <div class="card-block">
                            <div class="table-responsive">
                                <table class="table m-b-0">
                                    <tbody>
                                    <tr>
                                        <th>Signups This Month</th>
                                        <td>30</td>
                                        <td><a href="">25.10 $</a>
                                        </td>

                                    </tr>
                                    <tr>
                                        <th>Sales This Month</th>
                                        <td>25</td>
                                        <td><a href="">1,248.75 $</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Signups This Year</th>
                                        <td>30</td>
                                        <td><a href="">1,115.2 $</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Sales This Year</th>
                                        <td>25</td>
                                        <td><a href="">1,248.75 $</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Signups This Week</th>
                                        <td>20</td>
                                        <td><a href="">1,50.75 $</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Sale This Week</th>
                                        <td>5</td>
                                        <td><a href="">1,48.75 $</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>

                <!--  Sales Statistics end -->
                <div class="col-xl-4 col-lg-12 col-md-12 default-grid-item ">
                    <div class="card">
                        <div class="card-header"><h5 class="card-header-text">Invoice Statistics</h5></div>
                        <div class="card-block">
                            <div class="technical-skill">
                                <div>
                                    <h6>Active</h6>
                                    <div class="faq-progress">
                                        <div class="progress">
                                            <span class="faq-text1"></span>
                                            <div class="faq-bar1"></div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <h6>Pending</h6>
                                    <div class="faq-progress">
                                        <div class="progress">
                                            <span class="faq-text2"></span>
                                            <div class="faq-bar2"></div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <h6>Suspended</h6>
                                    <div class="faq-progress">
                                        <div class="progress">
                                            <span class="faq-text5"></span>
                                            <div class="faq-bar5"></div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <h6>Cancelled</h6>
                                    <div class="faq-progress">
                                        <div class="progress">
                                            <span class="faq-text4"></span>
                                            <div class="faq-bar4"></div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <h6>Error</h6>
                                    <div class="faq-progress">
                                        <div class="progress">
                                            <span class="faq-text3"></span>
                                            <div class="faq-bar3"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <!-- Morris Bar start -->
                <div class="col-xl-6 col-lg-12 default-grid-item ">
                    <div class="card">
                        <div class="card-header"><h5 class="card-header-text">CONTACTS</h5></div>
                        <div class="card-block">
                            <div class="table-content">
                                <div class="project-table">
                                    <table id="contact-list" class="table  table-striped dt-responsive nowrap " datatable=""  dt-options="dtOptions" dt-instance="dtInstance">
                                        <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Position</th>
                                            <th>Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <img src="assets/images/avatar-1.png" class="img-fluid d-inline-block" alt="tbl">
                                            </td>
                                            <td class="pro-name">
                                                <h6>Larry</h6>
                                            </td>
                                            <td>Larry@domain.com</td>
                                            <td class="txt-info">Web Designer</td>
                                            <td class="action-icon">
                                                <a href="#!" class="crm-action-edit"><i class="icofont icofont-ui-edit"></i></a>
                                                <a href="#!" class="crm-action-delete"><i class="icofont icofont-ui-delete"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="assets/images/avatar-2.png" class="img-fluid d-inline-block" alt="tbl">
                                            </td>
                                            <td class="pro-name">
                                                <h6>Jacob</h6>
                                            </td>
                                            <td>Jacob@domain.com</td>
                                            <td  class="txt-info">Web Developer</td>
                                            <td class="action-icon">
                                                <a href="#!" class="crm-action-edit"><i class="icofont icofont-ui-edit"></i></a>
                                                <a href="#!" class="crm-action-delete"><i class="icofont icofont-ui-delete"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="assets/images/avatar-3.png" class="img-fluid d-inline-block" alt="tbl">
                                            </td>
                                            <td class="pro-name">
                                                <h6>Mark</h6>
                                            </td>
                                            <td>Mark@domain.com</td>
                                            <td class="txt-info">Chief Financial Officer (CFO)</td>
                                            <td class="action-icon">
                                                <a href="#!" class="crm-action-edit"><i class="icofont icofont-ui-edit"></i></a>
                                                <a href="#!" class="crm-action-delete"><i class="icofont icofont-ui-delete"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="assets/images/avatar-4.png" class="img-fluid d-inline-block" alt="tbl">
                                            </td>
                                            <td class="pro-name">
                                                <h6>Steve</h6>
                                            </td>
                                            <td>Steve@domain.com</td>
                                            <td class="txt-info">Customer Support</td>
                                            <td class="action-icon">
                                                <a href="#!" class="crm-action-edit"><i class="icofont icofont-ui-edit"></i></a>
                                                <a href="#!" class="crm-action-delete"><i class="icofont icofont-ui-delete"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="assets/images/avatar-2.png" class="img-fluid d-inline-block" alt="tbl">
                                            </td>
                                            <td class="pro-name">
                                                <h6> Larry the Bird</h6>
                                            </td>
                                            <td>Larry@domain.com</td>
                                            <td class="txt-info">Team Leader</td>
                                            <td class="action-icon">
                                                <a href="#!" class="crm-action-edit"><i class="icofont icofont-ui-edit"></i></a>
                                                <a href="#!" class="crm-action-delete"><i class="icofont icofont-ui-delete"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="assets/images/avatar-1.png" class="img-fluid d-inline-block" alt="tbl">
                                            </td>
                                            <td class="pro-name">
                                                <h6>Colleen Hurst</h6>
                                            </td>
                                            <td>ColleenHurst@domain.com</td>
                                            <td class="txt-info">Systems Administrator</td>
                                            <td class="action-icon">
                                                <a href="#!" class="crm-action-edit"><i class="icofont icofont-ui-edit"></i></a>
                                                <a href="#!" class="crm-action-delete"><i class="icofont icofont-ui-delete"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="assets/images/avatar-2.png" class="img-fluid d-inline-block" alt="tbl">
                                            </td>
                                            <td class="pro-name">
                                                <h6> krish patel</h6>
                                            </td>
                                            <td>krish@domain.com</td>
                                            <td class="txt-info">Developer</td>
                                            <td class="action-icon">
                                                <a href="#!" class="crm-action-edit"><i class="icofont icofont-ui-edit"></i></a>
                                                <a href="#!" class="crm-action-delete"><i class="icofont icofont-ui-delete"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="assets/images/avatar-3.png" class="img-fluid d-inline-block" alt="tbl">
                                            </td>
                                            <td class="pro-name">
                                                <h6>parimal</h6>
                                            </td>
                                            <td>parimal@domain.com</td>
                                            <td class="txt-info">Financial Controller</td>
                                            <td class="action-icon">
                                                <a href="#!" class="crm-action-edit"><i class="icofont icofont-ui-edit"></i></a>
                                                <a href="#!" class="crm-action-delete"><i class="icofont icofont-ui-delete"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="assets/images/avatar-4.png" class="img-fluid d-inline-block" alt="tbl">
                                            </td>
                                            <td class="pro-name">
                                                <h6>  Jenu Shash</h6>
                                            </td>
                                            <td>Jenu@domain.com</td>
                                            <td class="txt-info">Director</td>
                                            <td class="action-icon">
                                                <a href="#!" class="crm-action-edit"><i class="icofont icofont-ui-edit"></i></a>
                                                <a href="#!" class="crm-action-delete"><i class="icofont icofont-ui-delete"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="assets/images/avatar-5.png" class="img-fluid d-inline-block" alt="tbl">
                                            </td>
                                            <td class="pro-name">
                                                <h6>Steve</h6>
                                            </td>
                                            <td>Steve@domain.com</td>
                                            <td class="txt-info">Customer Support</td>
                                            <td class="action-icon">
                                                <a href="#!" class="crm-action-edit"><i class="icofont icofont-ui-edit"></i></a>
                                                <a href="#!" class="crm-action-delete"><i class="icofont icofont-ui-delete"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="assets/images/avatar-1.png" class="img-fluid d-inline-block" alt="tbl">
                                            </td>
                                            <td class="pro-name">
                                                <h6>Airi Satou</h6>
                                            </td>
                                            <td>Airi@domain.com</td>
                                            <td class="txt-info">Javascript Developer</td>
                                            <td class="action-icon">
                                                <a href="#!" class="crm-action-edit"><i class="icofont icofont-ui-edit"></i></a>
                                                <a href="#!" class="crm-action-delete"><i class="icofont icofont-ui-delete"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="assets/images/avatar-2.png" class="img-fluid d-inline-block" alt="tbl">
                                            </td>
                                            <td class="pro-name">
                                                <h6>Jacob</h6>
                                            </td>
                                            <td>Jacob@domain.com</td>
                                            <td  class="txt-info">Web Developer</td>
                                            <td class="action-icon">
                                                <a href="#!" class="crm-action-edit"><i class="icofont icofont-ui-edit"></i></a>
                                                <a href="#!" class="crm-action-delete"><i class="icofont icofont-ui-delete"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="assets/images/avatar-2.png" class="img-fluid d-inline-block" alt="tbl">
                                            </td>
                                            <td class="pro-name">
                                                <h6>Jacob</h6>
                                            </td>
                                            <td>Jacob@domain.com</td>
                                            <td  class="txt-info">Web Developer</td>
                                            <td class="action-icon">
                                                <a href="#!" class="crm-action-edit"><i class="icofont icofont-ui-edit"></i></a>
                                                <a href="#!" class="crm-action-delete"><i class="icofont icofont-ui-delete"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="assets/images/avatar-2.png" class="img-fluid d-inline-block" alt="tbl">
                                            </td>
                                            <td class="pro-name">
                                                <h6>Jacob</h6>
                                            </td>
                                            <td>Jacob@domain.com</td>
                                            <td  class="txt-info">Web Developer</td>
                                            <td class="action-icon">
                                                <a href="#!" class="crm-action-edit"><i class="icofont icofont-ui-edit"></i></a>
                                                <a href="#!" class="crm-action-delete"><i class="icofont icofont-ui-delete"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="assets/images/avatar-2.png" class="img-fluid d-inline-block" alt="tbl">
                                            </td>
                                            <td class="pro-name">
                                                <h6>Jacob</h6>
                                            </td>
                                            <td>Jacob@domain.com</td>
                                            <td  class="txt-info">Web Developer</td>
                                            <td class="action-icon">
                                                <a href="#!" class="crm-action-edit"><i class="icofont icofont-ui-edit"></i></a>
                                                <a href="#!" class="crm-action-delete"><i class="icofont icofont-ui-delete"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="assets/images/avatar-2.png" class="img-fluid d-inline-block" alt="tbl">
                                            </td>
                                            <td class="pro-name">
                                                <h6>Jacob</h6>
                                            </td>
                                            <td>Jacob@domain.com</td>
                                            <td  class="txt-info">Web Developer</td>
                                            <td class="action-icon">
                                                <a href="#!" class="crm-action-edit"><i class="icofont icofont-ui-edit"></i></a>
                                                <a href="#!" class="crm-action-delete"><i class="icofont icofont-ui-delete"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="assets/images/avatar-2.png" class="img-fluid d-inline-block" alt="tbl">
                                            </td>
                                            <td class="pro-name">
                                                <h6>Jacob</h6>
                                            </td>
                                            <td>Jacob@domain.com</td>
                                            <td  class="txt-info">Web Developer</td>
                                            <td class="action-icon">
                                                <a href="#!" class="crm-action-edit"><i class="icofont icofont-ui-edit"></i></a>
                                                <a href="#!" class="crm-action-delete"><i class="icofont icofont-ui-delete"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="assets/images/avatar-2.png" class="img-fluid d-inline-block" alt="tbl">
                                            </td>
                                            <td class="pro-name">
                                                <h6>Jacob</h6>
                                            </td>
                                            <td>Jacob@domain.com</td>
                                            <td  class="txt-info">Web Developer</td>
                                            <td class="action-icon">
                                                <a href="#!" class="crm-action-edit"><i class="icofont icofont-ui-edit"></i></a>
                                                <a href="#!" class="crm-action-delete"><i class="icofont icofont-ui-delete"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="assets/images/avatar-2.png" class="img-fluid d-inline-block" alt="tbl">
                                            </td>
                                            <td class="pro-name">
                                                <h6>Jacob</h6>
                                            </td>
                                            <td>Jacob@domain.com</td>
                                            <td  class="txt-info">Web Developer</td>
                                            <td class="action-icon">
                                                <a href="#!" class="crm-action-edit"><i class="icofont icofont-ui-edit"></i></a>
                                                <a href="#!" class="crm-action-delete"><i class="icofont icofont-ui-delete"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="assets/images/avatar-2.png" class="img-fluid d-inline-block" alt="tbl">
                                            </td>
                                            <td class="pro-name">
                                                <h6>Jacob</h6>
                                            </td>
                                            <td>Jacob@domain.com</td>
                                            <td  class="txt-info">Web Developer</td>
                                            <td class="action-icon">
                                                <a href="#!" class="crm-action-edit"><i class="icofont icofont-ui-edit"></i></a>
                                                <a href="#!" class="crm-action-delete"><i class="icofont icofont-ui-delete"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="assets/images/avatar-2.png" class="img-fluid d-inline-block" alt="tbl">
                                            </td>
                                            <td class="pro-name">
                                                <h6>Jacob</h6>
                                            </td>
                                            <td>Jacob@domain.com</td>
                                            <td  class="txt-info">Web Developer</td>
                                            <td class="action-icon">
                                                <a href="#!" class="crm-action-edit"><i class="icofont icofont-ui-edit"></i></a>
                                                <a href="#!" class="crm-action-delete"><i class="icofont icofont-ui-delete"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="assets/images/avatar-2.png" class="img-fluid d-inline-block" alt="tbl">
                                            </td>
                                            <td class="pro-name">
                                                <h6>Jacob</h6>
                                            </td>
                                            <td>Jacob@domain.com</td>
                                            <td  class="txt-info">Web Developer</td>
                                            <td class="action-icon">
                                                <a href="#!" class="crm-action-edit"><i class="icofont icofont-ui-edit"></i></a>
                                                <a href="#!" class="crm-action-delete"><i class="icofont icofont-ui-delete"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="assets/images/avatar-2.png" class="img-fluid d-inline-block" alt="tbl">
                                            </td>
                                            <td class="pro-name">
                                                <h6>Jacob</h6>
                                            </td>
                                            <td>Jacob@domain.com</td>
                                            <td  class="txt-info">Web Developer</td>
                                            <td class="action-icon">
                                                <a href="#!" class="crm-action-edit"><i class="icofont icofont-ui-edit"></i></a>
                                                <a href="#!" class="crm-action-delete"><i class="icofont icofont-ui-delete"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="assets/images/avatar-2.png" class="img-fluid d-inline-block" alt="tbl">
                                            </td>
                                            <td class="pro-name">
                                                <h6>Jacob</h6>
                                            </td>
                                            <td>Jacob@domain.com</td>
                                            <td  class="txt-info">Web Developer</td>
                                            <td class="action-icon">
                                                <a href="#!" class="crm-action-edit"><i class="icofont icofont-ui-edit"></i></a>
                                                <a href="#!" class="crm-action-delete"><i class="icofont icofont-ui-delete"></i></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">

                    </div>
                </div>
                <div class="col-xl-6 col-lg-12 default-grid-item ">
                    <div class="card">
                        <div class="card-header"><h5 class="card-header-text">Recent List</h5></div>
                        <div class="card-block p-t-0">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="main-timeline timeline-line crm-timeline p-0">
                                        <div class="cd-timeline cd-container m-b-0 p-b-0">
                                            <div class="cd-timeline-block m-0">
                                                <div class="cd-timeline-icon bg-primary">
                                                    <i class="icofont icofont-file-alt"></i>
                                                </div> <!-- cd-timeline-img -->

                                                <div class="cd-timeline-content card_main">
                                                    <!--<img src="assets/plugins/timeline/images/img1.jpg" class="img-fluid" alt=""/>-->
                                                    <div class="card-block">
                                                        <h6>We’d like to introduce our new website</h6>
                                                        <div class="timeline-details">
                                                            <a href=""> <i class="icofont icofont-ui-calendar"></i><span>20 july 2016</span></a>
                                                            <a href="">  <i class="icofont icofont-ui-user"></i><span>John Doe</span></a>
                                                        </div>
                                                    </div>
                                                    <span class="cd-date">October 23, 2014, 12:56 AM</span>
                                                    <span class="cd-details">You  posed an artical with public</span>
                                                </div> <!-- cd-timeline-content -->
                                            </div> <!-- cd-timeline-block -->
                                            <div class="cd-timeline-block">
                                                <div class="cd-timeline-icon bg-success">
                                                    <i class="icofont icofont-ui-user"></i>
                                                </div> <!-- cd-timeline-img -->

                                                <div class="cd-timeline-content card_main">
                                                    <div class="media bg-white d-flex p-10">
                                                        <div class="media-left media-middle">
                                                            <a href="">
                                                                <img class="media-object" src="assets/plugins/timeline/images/img2.png" alt="">
                                                            </a>
                                                        </div>
                                                        <div class="media-body">
                                                            <div class="f-15 f-bold m-b-5">Josephin Doe</div>
                                                            <div class="f-13 text-muted">Softwear Engineer at phoenixcoded</div>
                                                        </div>
                                                    </div>
                                                    <span class="cd-date">October 23, 2014, 12:56 AM</span>
                                                    <span class="cd-details">You  posed an artical with public</span>
                                                </div> <!-- cd-timeline-content -->
                                            </div> <!-- cd-timeline-block -->

                                            <div class="cd-timeline-block m-0">
                                                <div class="cd-timeline-icon bg-warning">
                                                    <i class="icofont icofont-file-alt"></i>
                                                </div> <!-- cd-timeline-img -->

                                                <div class="cd-timeline-content card_main">

                                                    <img src="assets/plugins/timeline/images/img1.jpg" class="img-fluid width-100" alt=""/>
                                                    <div class="card-block"> <h6>We’d like to introduce our new website</h6>
                                                        <div class="timeline-details">
                                                            <a href="">
                                                                <i class="icofont icofont-ui-calendar"></i><span>20 july 2016</span>
                                                            </a>
                                                            <a href="">
                                                                <i class="icofont icofont-ui-user"></i><span>John Doe</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <span class="cd-date">October 23, 2014, 12:56 AM</span>
                                                    <span class="cd-details">You  posed an artical with public</span>
                                                </div> <!-- cd-timeline-content -->
                                            </div> <!-- cd-timeline-block -->
                                        </div> <!-- cd-timeline -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Container-fluid ends -->
    </div>
</div>
</div>

