<div  class="sidebar-mini fixed" >
   
    <div class="wrapper" >
   
 <div ng-include="'shared/header.html'"></div>
 <div ng-include="'shared/sidebar.html'" data-ng-controller="menuController" data-ng-init="setMenu()"></div> 

    <div class="content-wrapper">
        <!-- Container-fluid starts -->
       <div class="container-fluid">
		<!-- Main content starts -->
		<div class="gallery">
			<!-- Row Starts -->
			<div class="row">
				<div class="col-sm-12 p-0">
					<div class="main-header">
						<h4>Gallery</h4>
						<ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
							<li class="breadcrumb-item"><a href="index.html"><i class="icofont icofont-home"></i></a>
							</li>
							<li class="breadcrumb-item"><a href="#!">Pages</a>
							</li>
							<li class="breadcrumb-item"><a href="gallery.html">Gallery</a>
							</li>
						</ol>
					</div>
				</div>
			</div>
			<!-- Row end -->
			<!-- Row start -->
			<div class="row">
				<div class="col-sm-12">
					<div class="card">
						<!-- Gallery start -->
						<div class="card-header"><h5 class="card-header-text">Gallery</h5></div>
						<div class="card-block">
							<div class="row">
								<div class="col-md-12">
									<h6 class="sub-title">Default</h6>
									<div class="demo-gallery">
                  	<ul id="lightgallery" class="m-b-0">
											<li lightgallery class="col-lg-4 col-xl-2 col-md-6 col-xs-6 b-none" data-responsive="assets/plugins/gallery/img/1-375.jpg 375, img/1-480.jpg 480, img/1.jpg 800" data-src="assets/plugins/gallery/img/1-1600.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
												<a href="">
													<img class="img-fluid" src="assets/plugins/gallery/img/thumb-1.jpg" alt="">
												</a>
											</li>
											<li lightgallery class="col-lg-4 col-xl-2 col-md-6 col-xs-6 b-none" data-responsive="assets/plugins/gallery/img/2-375.jpg 375, img/2-480.jpg 480, img/2.jpg 800" data-src="assets/plugins/gallery/img/2-1600.jpg" data-sub-html="<h4>Bowness Bay</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy I was passing the right place at the right time....</p>">
												<a href="">
													<img class="img-fluid" src="assets/plugins/gallery/img/thumb-2.jpg" alt="">
												</a>
											</li>
											<li lightgallery class="col-lg-4 col-xl-2 col-md-6 col-xs-6 b-none" data-responsive="assets/plugins/gallery/img/13-375.jpg 375, img/13-480.jpg 480, img/13.jpg 800" data-src="assets/plugins/gallery/img/13-1600.jpg" data-sub-html="<h4>Bowness Bay</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy I was passing the right place at the right time....</p>">
												<a href="">
													<img class="img-fluid" src="assets/plugins/gallery/img/thumb-13.jpg" alt="">
												</a>
											</li>
											<li lightgallery class="col-lg-4 col-xl-2 col-md-6 col-xs-6 b-none" data-responsive="assets/plugins/gallery/img/4-375.jpg 375, img/4-480.jpg 480, img/4.jpg 800" data-src="assets/plugins/gallery/img/4-1600.jpg" data-sub-html="<h4>Bowness Bay</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy I was passing the right place at the right time....</p>">
												<a href="">
													<img class="img-fluid" src="assets/plugins/gallery/img/thumb-4.jpg" alt="">
												</a>
											</li>
											<li lightgallery class="col-lg-4 col-xl-2 col-md-6 col-xs-6 b-none" data-responsive="assets/plugins/gallery/img/5-375.jpg 375, img/5-480.jpg 480, img/5.jpg 800" data-src="assets/plugins/gallery/img/5-1600.jpg" data-sub-html="<h4>Bowness Bay</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy I was passing the right place at the right time....</p>">
												<a href="">
													<img class="img-fluid" src="assets/plugins/gallery/img/thumb-5.jpg" alt="">
												</a>
											</li>
											<li lightgallery class="col-lg-4 col-xl-2 col-md-6 col-xs-6 b-none" data-responsive="assets/plugins/gallery/img/6-375.jpg 375, img/6-480.jpg 480, img/6.jpg 800" data-src="assets/plugins/gallery/img/6-1600.jpg" data-sub-html="<h4>Bowness Bay</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy I was passing the right place at the right time....</p>">
												<a href="">
													<img class="img-fluid" src="assets/plugins/gallery/img/thumb-6.jpg" alt="">
												</a>
											</li>
										</ul>
									</div>
								</div>
							</div>

							<div class="row m-b-20">
								<div class="col-md-12">
								<h6 class="sub-title">Thumbnail</h6>
								<div class="demo-gallery">
									<ul id="lightgallery1" class="list-unstyled m-b-0">

										<li lightgallery class="col-lg-4 col-xl-2 col-md-6 col-xs-6 b-none" data-responsive="assets/plugins/gallery/img/7-375.jpg 375, img/7-480.jpg 480, img/7.jpg 800" data-src="assets/plugins/gallery/img/7-1600.jpg" data-sub-html="<h4>Bowness Bay</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy I was passing the right place at the right time....</p>">
											<a class="thumbnail">
												<img class="img-fluid" src="assets/plugins/gallery/img/thumb-7.jpg" alt="">
											</a>
										</li>
										<li lightgallery class="col-lg-4 col-xl-2 col-md-6 col-xs-6 b-none" data-responsive="assets/plugins/gallery/img/8-375.jpg 375, img/8-480.jpg 480, img/8.jpg 800" data-src="assets/plugins/gallery/img/8-1600.jpg" data-sub-html="<h4>Bowness Bay</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy I was passing the right place at the right time....</p>">
											<a class="thumbnail">
												<img class="img-fluid" src="assets/plugins/gallery/img/thumb-8.jpg" alt="">
											</a>
										</li>
										<li lightgallery class="col-lg-4 col-xl-2 col-md-6 col-xs-6 b-none" data-responsive="assets/plugins/gallery/img/1-375.jpg 375, img/1-480.jpg 480, img/1.jpg 800" data-src="assets/plugins/gallery/img/1-1600.jpg" data-sub-html="<h4>Bowness Bay</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy I was passing the right place at the right time....</p>">
											<a class="thumbnail">
												<img class="img-fluid" src="assets/plugins/gallery/img/thumb-1.jpg" alt="">
											</a>
										</li>
										<li lightgallery class="col-lg-4 col-xl-2 col-md-6 col-xs-6 b-none" data-responsive="assets/plugins/gallery/img/9-375.jpg 375, img/9-480.jpg 480, img/9.jpg 800" data-src="assets/plugins/gallery/img/9-1600.jpg" data-sub-html="<h4>Bowness Bay</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy I was passing the right place at the right time....</p>">
											<a class="thumbnail">
												<img class="img-fluid" src="assets/plugins/gallery/img/thumb-9.jpg" alt="">
											</a>
										</li>
										<li lightgallery class="col-lg-4 col-xl-2 col-md-6 col-xs-6 b-none" data-responsive="assets/plugins/gallery/img/2-375.jpg 375, img/2-480.jpg 480, img/2.jpg 800" data-src="assets/plugins/gallery/img/2-1600.jpg" data-sub-html="<h4>Bowness Bay</h4><p>A beautiful Sunrise this morning taken En-route to Keswick not one as planned but I'm extremely happy I was passing the right place at the right time....</p>">
											<a class="thumbnail">
												<img class="img-fluid" src="assets/plugins/gallery/img/thumb-2.jpg" alt="">
											</a>
										</li>

										<li lightgallery class="col-lg-4 col-xl-2 col-md-6 col-xs-6 b-none" data-responsive="assets/plugins/gallery/img/4-375.jpg 375, img/4-480.jpg 480, img/4.jpg 800" data-src="assets/plugins/gallery/img/4-1600.jpg" data-sub-html="<h4>Fading Light</h4><p>Classic view from Rigwood Jetty on Coniston Water an old archive shot similar to an old post but a little later on.</p>">
											<a class="thumbnail">
												<img class="img-fluid" src="assets/plugins/gallery/img/thumb-4.jpg" alt="">
											</a>
										</li>
									</ul>
								</div>
									</div>
							</div>

						</div>

					</div>
					<!-- Gallery end -->
				</div>

			</div>
			<!-- Row end -->
	</div>
	</div>
        <!-- Container-fluid ends -->
     </div>
</div>
</div>

