

  <div  class="sidebar-mini fixed" >
   
    <div class="wrapper" >
   
<div ng-include="'shared/header.html'"></div>
 <div ng-include="'shared/sidebar.html'" data-ng-controller="menuController" data-ng-init="setMenu()"></div> 
    
    <div class="content-wrapper">
        <!-- Container-fluid starts -->
        <div class="container-fluid">
            <!-- Main content starts -->
            <div>
                <!-- Row Starts -->
                <div class="row">
                    <div class="col-sm-12 p-0">
                        <div class="main-header">
                            <h4>Label-Badges</h4>
                            <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">

                                <li class="breadcrumb-item"><a href="index.html"><i class="icofont icofont-home"></i></a>
                                </li>
                                <li class="breadcrumb-item"><a href="#!">UI Elements</a>
                                </li>
                                <li class="breadcrumb-item"><a href="label-badge.html">Label-Badges</a>
                                </li>

						</ol>
					</div>
				</div>
			</div>
			<!-- Row end -->
			<!-- Row start -->
			<div class="row label-bagdes">
				<!-- Badges starts -->
				<div class="col-md-12">
					<div class="card">
						<div class="card-header"><h5 class="card-header-text">Badges</h5></div>
						<div class="row card-block">
							<div class="col-lg-4 col-xl-3 col-sm-6">
								<div class="card-block">

                                        <div class="sub-title">Default badge
                                           
                                        </div>

                                       

									<p>Use class <code>badge-default</code></p>
									<label class="badge badge-default">5</label>
									<label class="badge badge-default">9</label>
									<label class="badge badge-default">15</label>
								</div>
							</div>
							<div class="col-lg-4 col-xl-3 col-sm-6">
								<div class="card-block">

                                        <div class="sub-title">Primary badge
                                           
                                        </div>

                                       

									<p>Use class <code>bg-primary</code></p>
									<label class="badge bg-primary">5</label>
									<label class="badge bg-primary">9</label>
									<label class="badge bg-primary">15</label>
								</div>
							</div>
							<div class="col-lg-4 col-xl-3 col-sm-6">
								<div class="card-block">
									<div class="sub-title">Success badge
										
									</div>

                                      

									<p>Use class <code>bg-success</code></p>
									<label class="badge bg-success">5</label>
									<label class="badge bg-success">9</label>
									<label class="badge bg-success">15</label>
								</div>
							</div>
							<div class="col-lg-4 col-xl-3 col-sm-6">
								<div class="card-block">
									<div class="sub-title">Warning badge
									
								</div>

                                     

									<p>
										Use class <code>bg-warning</code>
									</p>
									<label class="badge bg-warning">5</label>
									<label class="badge bg-warning">9</label>
									<label class="badge bg-warning">15</label>
								</div>
							</div>
							<div class="col-lg-4 col-xl-3 col-sm-6">
								<div class="card-block">
									<div class="sub-title">Danger badge
										
									</div>

                                      

                                        <p>
                                            Use class <code>bg-danger</code>
                                        </p>
                                        <label class="badge bg-danger">5</label>
                                        <label class="badge bg-danger">9</label>
                                        <label class="badge bg-danger">15</label>
                                    </div>
                                </div>

							<div class="col-lg-4 col-xl-3 col-sm-6">
								<div class="card-block">
									<div class="sub-title">Info badge
										
									</div>

                                       
									<p>
										Use class <code>bg-info</code>
									</p>
									<label class="badge bg-info ">5</label>
									<label class="badge bg-info">9</label>
									<label class="badge bg-info">15</label>
								</div>
							</div>
							<div class="col-lg-4 col-xl-3 col-sm-6">
								<div class="card-block">
									<div class="sub-title">inverse default badge
										
									</div>

									<p>
										Use class <code>badge-inverse-default</code>
									</p>
									<label class="badge badge-inverse-default">5</label>
									<label class="badge badge-inverse-default">9</label>
									<label class="badge badge-inverse-default">15</label>
								</div>
							</div>
							<div class="col-lg-4 col-xl-3 col-sm-6">
								<div class="card-block">

                                        <div class="sub-title">Inverse primary badge
                                           
                                        </div>

                                       
						              </div>
						              <!-- end of modal -->
									<p>
										Use class <code>badge-inverse-primary</code>
									</p>
									<label class="badge badge-inverse-primary">5</label>
									<label class="badge badge-inverse-primary">9</label>
									<label class="badge badge-inverse-primary">15</label>
								</div>
							</div>
							<div class="col-lg-4 col-xl-3 col-sm-6">
								<div class="card-block">

                                        <div class="sub-title">Inverse success badge
                                           
                                        </div>

                                      
						              </div>
						              <!-- end of modal -->
									<p>
										Use class <code>badge-inverse-success</code>
									</p>
									<label class="badge badge-inverse-success">5</label>
									<label class="badge badge-inverse-success">9</label>
									<label class="badge badge-inverse-success">15</label>
								</div>
							</div>
							<div class="col-lg-4 col-xl-3 col-sm-6">
								<div class="card-block">

                                        <div class="sub-title">Inverse warning badge
                                           
                                        </div>

                                     

									<p>
										Use class <code>badge-inverse-warning</code>
									</p>
									<label class="badge badge-inverse-warning">5</label>
									<label class="badge badge-inverse-warning">9</label>
									<label class="badge badge-inverse-warning">15</label>
								</div>
							</div>
							<div class="col-lg-4 col-xl-3 col-sm-6">
								<div class="card-block">

                                        <div class="sub-title">Inverse Danger badge
                                           
                                        </div>

                                      
						              </div>
										<!-- end of modal -->
									<p>
										Use class <code>badge-inverse-danger</code>
									</p>
									<label class="badge badge-inverse-danger">5</label>
									<label class="badge badge-inverse-danger">9</label>
									<label class="badge badge-inverse-danger">15</label>
								</div>
							</div>
							<div class="col-lg-4 col-xl-3 col-sm-6">
								<div class="card-block">

                                        <div class="sub-title">Inverse Info badge
                                            
                                        </div>

                                     

                                        <p>
                                            Use class <code>badge-inverse-info</code>
                                        </p>
                                        <label class="badge badge-inverse-info">5</label>
                                        <label class="badge badge-inverse-info">9</label>
                                        <label class="badge badge-inverse-info">15</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Badges ends -->
                </div>
                <!-- Row end -->
                <!-- Row start -->
                <div class="row label-bagdes">
                    <!-- Label starts -->
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header"><h5 class="card-header-text">Labels</h5>
                                
                            </div>

                           

                            <div class="row card-block">
                                <div class="col-md-12">

                                    <p>Use the <code>.label</code> class,&nbsp; followed by
                                        one of the six contextual classes <code>.label-default</code>, <code>.bg-primary</code>, <code>.bg-success</code>,
                                        <code>.bg-info</code>, <code>.bg-warning</code> or <code>.bg-danger</code>, within
                                        a <code>&lt;label&gt;</code> element to create
                                        a label:
                                    </p>
                                    <div class="label-main"><label class="label label-default">Default Label</label></div>
                                    <div class="label-main"><label class="label bg-primary">Primary Label</label></div>
                                    <div class="label-main"><label class="label bg-success">Success Label</label></div>
                                    <div class="label-main"><label class="label bg-warning">Warning Label</label></div>
                                    <div class="label-main"><label class="label bg-danger">Danger Label</label></div>
                                    <div class="label-main"><label class="label bg-info">Info Label</label></div>
                                    <div class="label-main"><label class="label label-inverse-default">Inverse Default</label></div>
                                    <div class="label-main"><label class="label label-inverse-primary">Inverse Primary</label></div>
                                    <div class="label-main"><label class="label label-inverse-success">Inverse Success</label></div>
                                    <div class="label-main"><label class="label label-inverse-warning">Inverse Warning</label></div>
                                    <div class="label-main"><label class="label label-inverse-danger">Inverse Danger</label></div>
                                    <div class="label-main"><label class="label label-inverse-info">Inverse Primary</label></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Label ends -->
                </div>
                <!-- Row end -->
                <!-- Row start -->
                <div class="row label-bagdes">
                    <!-- label Sizes starts -->
                    <div class="col-md-12 col-xl-6">
                        <div class="card">
                            <div class="card-header"><h5 class="card-header-text">Label Sizes</h5>
                                
                            </div>

                          
                            <div class="row card-block">
                                <div class="col-md-12">
                                    <p>Use the <code>.label-lg</code> class along with <code>.label</code> for large label and Use the <code>.label-md</code> class along with <code>.label</code> for medium label.The<code>.label</code> class use form small label  </p>
                                    <div class="label-main"><label class="label label-lg label-default">Large Label</label></div>
                                    <div class="label-main"><label class="label label-md bg-primary">Medium Label</label></div>
                                    <div class="label-main"><label class="label bg-success">Default Label</label></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- label Sizes ends -->

                    <!-- label Sizes starts -->
                    <div class="col-md-12 col-xl-6">
                        <div class="card">
                            <div class="card-header"><h5 class="card-header-text">Badge Sizes</h5>
                               
                            </div>

                          

                            <div class="row card-block">
                                <div class="col-md-12">
                                    <p>Use the <code>.badge-lg</code> class along with <code>.badge</code> for large badge and Use the <code>.badge-md</code> class along with <code>.badge</code> for medium badge.The<code>.badge</code> class use form small badge  </p>

                                    <div class="group-label">
                                        <label class="badge badge-lg bg-info">5</label>
                                        <label class="badge badge-lg bg-info">5</label>
                                        <label class="badge badge-lg bg-info m-r-20">5</label>
                                    </div>

                                    <div class="group-label d-inline-block">
                                        <label class="badge badge-md bg-success">5</label>
                                        <label class="badge badge-md bg-success">5</label>
                                        <label class="badge badge-md bg-success m-r-20">5</label>
                                    </div>
                                    <div class="group-label d-inline-block">
                                        <label class="badge bg-danger">5</label>
                                        <label class="badge bg-danger">5</label>
                                        <label class="badge bg-danger">5</label>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- label Sizes ends -->
                </div>
                <!-- Row end -->
                <!-- Row start -->
                <div class="row label-bagdes">
                    <!--Badges On Button-->
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header"><h5 class="card-header-text">Badges On Button</h5>
                               
                            </div>

                          

						<div class="card-block button-list">
							<!-- start flat Button -->
							<button type="button" class="btn btn-default angular-dark" tooltip-placement="top" uib-tooltip=".btn-default.badge" data-angular-ripple>General
								<span class="badge">70</span>
							</button>
							<button type="button" class="btn btn-primary" tooltip-placement="top" uib-tooltip=".btn-primary.badge" data-angular-ripple>Primary
								<span class="badge">90</span>
							</button>
							<button type="button" class="btn btn-success " tooltip-placement="top" uib-tooltip=".btn-success.badge" data-angular-ripple>success
								<span class="badge">70</span>
							</button>
							<button type="button" class="btn btn-warning " tooltip-placement="top" uib-tooltip=".btn-warning.badge" data-angular-ripple>warning
								<span class="badge">170</span>
							</button>
							<button type="button" class="btn btn-danger " tooltip-placement="top" uib-tooltip=".btn-danger.badge" data-angular-ripple>danger
								<span class="badge">07</span>
							</button>
							<button type="button" class="btn btn-info " tooltip-placement="top" uib-tooltip=".btn-info.badge" data-angular-ripple>info
								<span class="badge">80</span>
							</button>

                                <!-- end of flat Button -->
                            </div>
                        </div>
                        <!-- end of card -->
                    </div>
                    <!--Badges On Button end-->
                </div>
                <!-- Row end -->
                <!-- Row start -->
                <div class="row label-bagdes">
                    <!--Badges With Icon-->
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header"><h5 class="card-header-text">Badges With Icon</h5></div>
                            <div class="card-block">
                                <div class="col-md-3 col-sm-6">
                                    <div class="card-block">

                                        <div class="sub-title">Top Left badge
                                           
                                        </div>

                                     

                                        <p>
                                            Use class <code>badge-top-left</code>
                                        </p>
                                        <div class="label-icon">
                                            <i class="icofont icofont-envelope"></i>
                                            <label class="badge badge-default badge-top-left">5</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="card-block">

                                        <div class="sub-title">Top Right badge
                                           
                                        </div>

                                      
                                        <p>
                                            Use class <code>badge-top-right</code>
                                        </p>
                                        <div class="label-icon">
                                            <i class="icofont icofont-envelope"></i>
                                            <label class="badge bg-primary badge-top-right">9</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="card-block">

                                        <div class="sub-title">Bottom Left badge
                                           
                                        </div>

                                     

                                        <p>
                                            Use class <code>badge-bottom-left</code>
                                        </p>
                                        <div class="label-icon">
                                            <i class="icofont icofont-envelope"></i>
                                            <label class="badge bg-success badge-bottom-left">9</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-6">
                                    <div class="card-block">

                                        <div class="sub-title">Bottom Right badge
                                           
                                        </div>

                                    

                                        <p>
                                            Use class <code>badge-bottom-right</code>
                                        </p>
                                        <div class="label-icon">
                                            <i class="icofont icofont-envelope"></i>
                                            <label class="badge bg-warning badge-bottom-right">5</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--Badges With Icon end-->
                </div>
                <!-- Row end -->
            </div>
        </div>
        <!-- Container-fluid ends -->
    </div>
</div>
</div>
