
<div >

    <div class="error-400">
        <!-- Container-fluid starts -->
        <div class="container-fluid">
            <!-- Row start -->
            <div class="row">
                <div class="text-uppercase col-xs-12">
                    <h1>400</h1>
                    <h5>BAD REQUEST</h5>
                    <p>SORRY! THE PAGE YOU ARE LOOKING DOESN'T EXIST</p>
                    <a href="index.html" class="btn btn-error btn-lg waves-effect">Back to home page</a>
                </div>
            </div>
            <!-- Row end -->
        </div>
        <!-- Container-fluid ends -->
    </div>
</div>
