<div >
<div class="error-403">
    <!-- Container-fluid start -->
    <div class="container-fluid">
        <!-- Row start -->
        <div class="row">
            <div class="text-uppercase col-xs-12">
                <h1>403</h1>
                <h5>forbidden error</h5>
                <p>sorry! the page you are looking doesn't exist</p>
                <a href="index.html" class="btn btn-error btn-lg waves-effect">back to home page</a>
            </div>
        </div>
        <!-- Row end -->
    </div>
    <!-- Container-fluid end -->
</div>
</div>