
<div >

   <div class="error-503">
    <!-- Container-fluid starts -->
    <div class="container-fluid">
        <!-- Row start -->
        <div class="row">
            <div class="text-uppercase col-xs-12">
                <h1>503</h1>
                <h5>Service Unavailable</h5>
                <p>sorry! the page you are looking doesn't exist</p>
                <a href="index.html" class="btn btn-error btn-lg waves-effect">back to home page</a>
            </div>
        </div>
        <!-- Row ends -->
    </div>
    <!-- Container-fluid ends -->
</div>
</div>
