<div class="sidebar-mini fixed">
    <div class="wrapper">
        <div ng-include="'shared/header.html'"></div>
        <div ng-include="'shared/sidebar.html'" data-ng-controller="menuController" data-ng-init="setMenu()"></div>
        <div class="content-wrapper">
            <!-- Container-fluid starts -->
            <div class="container-fluid">
                <!-- Main content starts -->
                <div class="row">
                    <div class="col-sm-12 p-0">
                        <div class="main-header">
                            <h4>Box Shadow</h4>
                            <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                                <li class="breadcrumb-item">
                                    <a href="index.html">
                                        <i class="icofont icofont-home"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#!"> UI Elements </a>
                                </li>
                                <li class="breadcrumb-item"><a href="box-shadow.html">Box Shadow</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- end of row -->
                <!-- Row start -->
                <div class="row box-shadow">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-header-text">Top only</h5>
                                
                            </div>
                            
                            <!-- end of modal -->
                            <div class="row card-block box-list">
                                <div class="col-lg-4">
                                    <div class="p-20 z-depth-top-0 angular-dark" tooltip-placement="top" uib-tooltip=".z-depth-top-0" data-angular-ripple>
                                        <p class="text-sm-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="p-20 z-depth-top-1 angular-dark" tooltip-placement="top" uib-tooltip=".z-depth-top-1" data-angular-ripple>
                                        <p class="text-sm-center ">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="p-20 z-depth-top-2 angular-dark" tooltip-placement="top" uib-tooltip=".z-depth-top-2" data-angular-ripple>
                                        <p class="text-sm-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="p-20 z-depth-top-3 angular-dark" tooltip-placement="top" uib-tooltip=".z-depth-top-3" data-angular-ripple>
                                        <p class="text-sm-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="p-20 z-depth-top-4 angular-dark" tooltip-placement="top" uib-tooltip=".z-depth-top-4" data-angular-ripple>
                                        <p class="text-sm-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="p-20 z-depth-top-5 angular-dark" tooltip-placement="top" uib-tooltip=".z-depth-top-5" data-angular-ripple>
                                        <p class="text-sm-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- end of card-content -->
                        </div>
                        <!-- end of card-main -->
                    </div>
                    <!-- end of col-sm-12 -->
                </div>
                <!-- end of row -->
                <div class="row box-shadow">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-header-text">bottom only</h5>
                                
                            </div>
                            
                            <!-- end of modal -->
                            <div class="card-block row box-list">
                                <!-- Start a Box p-20 -->
                                <div class="col-lg-4">
                                    <div class="p-20 z-depth-bottom-0 angular-dark" tooltip-placement="top" uib-tooltip=".z-depth-bottom-0" data-angular-ripple>
                                        <p class="text-sm-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="p-20 z-depth-bottom-1 angular-dark" tooltip-placement="top" uib-tooltip=".z-depth-bottom-1" data-angular-ripple>
                                        <p class="text-sm-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="p-20 z-depth-bottom-2 angular-dark" tooltip-placement="top" uib-tooltip=".z-depth-bottom-2" data-angular-ripple>
                                        <p class="text-sm-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="p-20 z-depth-bottom-3 angular-dark" tooltip-placement="top" uib-tooltip=".z-depth-bottom-3" data-angular-ripple>
                                        <p class="text-sm-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="p-20 z-depth-bottom-4 angular-dark" tooltip-placement="top" uib-tooltip=".z-depth-bottom-4" data-angular-ripple>
                                        <p class="text-sm-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="p-20 z-depth-bottom-5 angular-dark" tooltip-placement="top" uib-tooltip=".z-depth-bottom-5" data-angular-ripple>
                                        <p class="text-sm-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- end of card-content -->
                        </div>
                        <!-- end of card-main -->
                    </div>
                    <!-- end of col-sm-12 -->
                </div>
                <!-- end of row -->
                <div class="row box-shadow">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-header-text">left only</h5>
                                
                            </div>
                            
                            <div class="card-block row box-list">
                                <!-- Start a Box p-20 -->
                                <div class="col-lg-4">
                                    <div class="p-20 z-depth-left-0 angular-dark" tooltip-placement="top" uib-tooltip=".z-depth-left-0" data-angular-ripple>
                                        <p class="text-sm-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="p-20 z-depth-left-1 angular-dark" tooltip-placement="top" uib-tooltip=".z-depth-left-1" data-angular-ripple>
                                        <p class="text-sm-center ">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="p-20 z-depth-left-2 angular-dark" tooltip-placement="top" uib-tooltip=".z-depth-left-2" data-angular-ripple>
                                        <p class="text-sm-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="p-20 z-depth-left-3 angular-dark" tooltip-placement="top" uib-tooltip=".z-depth-left-3" data-angular-ripple>
                                        <p class="text-sm-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="p-20 z-depth-left-4 angular-dark" tooltip-placement="top" uib-tooltip=".z-depth-left-4" data-angular-ripple>
                                        <p class="text-sm-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="p-20 z-depth-left-5 angular-dark" tooltip-placement="top" uib-tooltip=".z-depth-left-5" data-angular-ripple>
                                        <p class="text-sm-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- end of card-content -->
                        </div>
                        <!-- end of card-main -->
                    </div>
                    <!-- end of col-sm-12 -->
                </div>
                <!-- end of row -->
                <div class="row box-shadow">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-header-text">right only</h5>
                                
                            </div>
                            
                            <div class="card-block row box-list">
                                <!-- Start a Box p-20 -->
                                <div class="col-lg-4">
                                    <div class="p-20 z-depth-right-0 angular-dark" tooltip-placement="top" uib-tooltip=".z-depth-right-0" data-angular-ripple>
                                        <p class="text-sm-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="p-20 z-depth-right-1 angular-dark" tooltip-placement="top" uib-tooltip=".z-depth-right-1" data-angular-ripple>
                                        <p class="text-sm-center ">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="p-20 z-depth-right-2 angular-dark" tooltip-placement="top" uib-tooltip=".z-depth-right-2" data-angular-ripple>
                                        <p class="text-sm-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="p-20 z-depth-right-3 angular-dark" tooltip-placement="top" uib-tooltip=".z-depth-right-3" data-angular-ripple>
                                        <p class="text-sm-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="p-20 z-depth-right-4 angular-dark" tooltip-placement="top" uib-tooltip=".z-depth-right-4" data-angular-ripple>
                                        <p class="text-sm-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="p-20 z-depth-right-5 angular-dark" tooltip-placement="top" uib-tooltip=".z-depth-right-5" data-angular-ripple>
                                        <p class="text-sm-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- end of card-content -->
                        </div>
                        <!-- end of card-main -->
                    </div>
                    <!-- end of col-sm-12 -->
                </div>
                <!-- end of row -->
                <div class="row box-shadow">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="card-header-text">All Side</h5>
                                
                            </div>
                            
                            <!-- end of modal -->
                            <div class="card-block row box-list">
                                <!-- Start a Box p-20 -->
                                <div class="col-lg-4">
                                    <div class="p-20 z-depth-0 angular-dark" tooltip-placement="top" uib-tooltip=".z-depth-0" data-angular-ripple>
                                        <p class="text-sm-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="p-20 z-depth-1 angular-dark" tooltip-placement="top" uib-tooltip=".z-depth-1" data-angular-ripple>
                                        <p class="text-sm-center ">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="p-20 z-depth-2 angular-dark" tooltip-placement="top" uib-tooltip=".z-depth-2" data-angular-ripple>
                                        <p class="text-sm-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="p-20 z-depth-3 angular-dark" tooltip-placement="top" uib-tooltip=".z-depth-3" data-angular-ripple>
                                        <p class="text-sm-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="p-20 z-depth-4 angular-dark" tooltip-placement="top" uib-tooltip=".z-depth-4" data-angular-ripple>
                                        <p class="text-sm-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="p-20 z-depth-5 angular-dark" tooltip-placement="top" uib-tooltip=".z-depth-5" data-angular-ripple>
                                        <p class="text-sm-center">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- end of card-content -->
                        </div>
                        <!-- end of card-main -->
                    </div>
                    <!-- end of col-sm-12 -->
                </div>
            </div>
            <!-- end of container fluid -->
            <!-- Container-fluid ends -->
        </div>
    </div>
</div>
