<div  class="sidebar-mini fixed" >
   
    <div class="wrapper" >
   
  <div ng-include="'shared/header.html'"></div>
 <div ng-include="'shared/sidebar.html'" data-ng-controller="menuController" data-ng-init="setMenu()"></div> 
 
    <div class="content-wrapper">
        <!-- Container-fluid starts -->
        <div class="container-fluid">
        <div >
            <!-- Row Starts -->
            <div class="row">
                <div class="col-sm-12 p-0">
                    <div class="main-header">
                        <h4>Button FAB</h4>
                        <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                            <li class="breadcrumb-item">
                                <a href="index.html">
                                    <i class="icofont icofont-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#!"> UI Elements </a>
                            </li>
                            <li class="breadcrumb-item"><a href="button-FAB.html">Button FAB</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- Row end -->

            <!-- Row starts -->
            <div class="row">
                <!-- Toolbar starts -->
                <div class="col-lg-6">
                    <div class="card card-height">
                        <div class="card-header"><h5 class="card-header-text">ToolBar</h5>
                            
                        </div>
                        
                </div>
                <!-- Toolbar ends -->
               <!-- Radial Action Button start-->
                <div class="col-lg-6">
                    <div class="card card-height">
                        <div class="card-header"><h5 class="card-header-text">Radial Action Button</h5>
                           
                        </div>

                       

                        <!-- <div id="horizontal-fab-button"></div> -->
                        <div class="radial">
                            <button class="icofont icofont-paper-plane fa-3x" id="fa-1"></button>
                            <button class="icofont icofont-home fa-3x" id="fa-2"></button>
                            <button class="icofont icofont-search-alt-1 fa-3x" id="fa-3"></button>
                            <button class="icofont icofont-users fa-3x" id="fa-4"></button>
                            <button class="icofont icofont-wrench fa-3x" id="fa-5"></button>
                            <button class="icofont icofont-ui-file fa-3x" id="fa-6"></button>
                            <button class="fab">
                                <i class="icofont icofont-plus fa-3x" id="plus"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Radial Action Button end-->
            </div>
            <!-- Row ends -->

            <!-- Row starts -->
            <div class="row">
                
                <!-- Floating action button start-->
                <div class="col-lg-6">
                    <div class="card card-height">
                        <div class="card-header"><h5 class="card-header-text">Floating Action Button</h5>
                            
                        </div>


                        <div class="popout">
                            <div class="btn">
                                <i class="icon icofont icofont-plus"></i>
                            </div>
                            <div class="panel">
                                <div class="panel-header">
                                    Literature adds to reality, it does not simply describe it. It enriches the necessary competencies that daily life requires and provides; and in this respect, it irrigates the deserts that our lives have already become.
                                </div>
                                <div class="panel-body">
                                    C.S. Lewis
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Floating action button end-->
                 <!-- fab-expand-animation start-->
                <div class="col-lg-6">
                    <div class="card card-height">
                        <div class="card-header"><h5 class="card-header-text">fab-expand-animation</h5>
                           
                        </div>


                        <div id="main-display">
                            <div class="fab-expand" id="fab-expand">
                                <span class="fab-expand-icon icofont icofont-plus"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- fab-expand-animation end-->
            </div>
            <!-- Row end -->

           
        </div>
    </div>
        <!-- Container-fluid ends -->
     </div>
</div>

</div>