

  <div  class="sidebar-mini fixed" >
   
    <div class="wrapper" >
   
 <div ng-include="'shared/header.html'"></div>
 <div ng-include="'shared/sidebar.html'" data-ng-controller="menuController" data-ng-init="setMenu()"></div>
 
    <div class="content-wrapper">
        <!-- Container-fluid starts -->
        <div class="container-fluid">
            <!-- Header Starts -->
            <div class="row">
                <div class="col-sm-12 p-0">
                    <div class="main-header">
                        <h4>Basic Card</h4>
                        <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                            <li class="breadcrumb-item">
                                <a href="index.html">
                                    <i class="icofont icofont-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item"><a href="">UI Elements</a>
                            </li>
                            <li class="breadcrumb-item"><a href="basic-card.html">Basic Card</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- Header end -->

            <!-- Basic Card start -->
            <!-- Row start -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-header-text">Basic Cards</h5>
                        </div>
                        <div class="card-block">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="card card-block card-inner-shadow global-cards">
                                        <h5 class="card-title">Card title</h5>
                                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <a href="" class="card-link">Card link</a>
                                        <a href="" class="card-link">Another link</a>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="card card-inner-shadow">
                                        <div class="card-header">
                                            Featured
                                        </div>
                                        <div class="card-block global-cards">
                                            <h5 class="card-title">Special title treatment</h5>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                            <a href="" class="btn btn-primary " data-angular-ripple>Go somewhere</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="card text-xs-center card-inner-shadow">
                                        <div class="card-header">
                                            Featured
                                        </div>
                                        <div class="card-block global-cards">
                                            <h5 class="card-title">Special title treatment</h5>
                                            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                                            <a href="" class="btn btn-primary " data-angular-ripple>Go somewhere</a>
                                        </div>
                                        <div class="card-footer text-muted">
                                            2 days ago
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end of row -->
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-header-text">Card With Images</h5>
                        </div>
                        <div class="card-block">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="card card-inner-shadow global-cards">
                                        <img class="card-img-top" src="assets/images/card-block/card1.jpg" alt="Card image cap">
                                        <div class="card-block">
                                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="card card-inner-shadow">
                                        <img class="card-img-top" src="assets/images/card-block/card2.jpg" alt="Card image cap">
                                        <div class="card-block">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-text m-b-10">Some quick example text to.</p>
                                            <a href="" class="btn btn-primary " data-angular-ripple>Go somewhere</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="card card-inner-shadow global-cards">
                                        <div class="card-block card-inner-shadow">
                                            <h5 class="card-title">Card title</h5>
                                            <p class="card-subtitle text-muted">Support card subtitle</p>
                                        </div>
                                        <img src="assets/images/card-block/card12.jpg" alt="Card image" class="img-fluid card-img-top">
                                        <div class="card-block">
                                            <p class="card-text">Some quick example text to.</p>
                                            <a href="" class="card-link">Card link</a>
                                            <a href="" class="card-link">Another link</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end of row -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row end -->
            <!-- Basic Card end -->

            <!-- Card Groups start -->
            <!-- Row start -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-header-text">Card Groups</h5>
                        </div>
                        <div class="card-block">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-group">
                                        <div class="card card-inner-shadow global-cards">
                                            <img class="card-img-top" src="assets/images/card-block/card4.jpg" alt="Card image cap">
                                            <div class="card-block">
                                                <h5 class="card-title">Card title</h5>
                                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="card card-inner-shadow global-cards">
                                            <img class="card-img-top" src="assets/images/card-block/card5.jpg" alt="Card image cap">
                                            <div class="card-block">
                                                <h5 class="card-title">Card title</h5>
                                                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="card card-inner-shadow global-cards">
                                            <img class="card-img-top" src="assets/images/card-block/card6.jpg" alt="Card image cap">
                                            <div class="card-block">
                                                <h5 class="card-title">Card title</h5>
                                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                                                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- end of row -->
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-header-text">Card Decks</h5>
                        </div>
                        <div class="card-block card-inner-shadow">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-deck-wrapper">
                                        <div class="card-deck">
                                            <div class="card card-inner-shadow global-cards">
                                                <img class="card-img-top" src="assets/images/card-block/card7.jpg" alt="Card image cap">
                                                <div class="card-block">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="card card-inner-shadow global-cards">
                                                <img class="card-img-top" src="assets/images/card-block/card8.jpg" alt="Card image cap">
                                                <div class="card-block">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="card card-inner-shadow global-cards">
                                                <img class="card-img-top" src="assets/images/card-block/card9.jpg" alt="Card image cap">
                                                <div class="card-block">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end of row -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row end -->
            <!-- Card With Image end -->

            <!-- Color Card start -->
            <!-- Row start -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-header-text">Background variant</h5>
                        </div>
                        <div class="card-block color-card">
                            <div class="row text-center">
                                <div class="col-xl-4 col-md-6">
                                    <div class="card bg-primary " data-angular-ripple>
                                        <div class="card-block">
                                            <blockquote class="card-blockquote">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                                <footer>Someone famous in <cite title="Source Title">Source Title</cite>
                                                </footer>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6">
                                    <div class="card bg-success " data-angular-ripple>
                                        <div class="card-block">
                                            <blockquote class="card-blockquote">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                                <footer>Someone famous in <cite title="Source Title">Source Title</cite>
                                                </footer>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6">
                                    <div class="card bg-warning" data-angular-ripple> 
                                        <div class="card-block">
                                            <blockquote class="card-blockquote">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                                <footer>Someone famous in <cite title="Source Title">Source Title</cite>
                                                </footer>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6">
                                    <div class="card bg-danger " data-angular-ripple>
                                        <div class="card-block">
                                            <blockquote class="card-blockquote">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                                <footer>Someone famous in <cite title="Source Title">Source Title</cite>
                                                </footer>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6">
                                    <div class="card bg-info " data-angular-ripple>
                                        <div class="card-block">
                                            <blockquote class="card-blockquote">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                                <footer>Someone famous in <cite title="Source Title">Source Title</cite>
                                                </footer>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-4 col-md-6">
                                    <div class="card card-default" data-angular-ripple>
                                        <div class="card-block">
                                            <blockquote class="card-blockquote">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                                <footer class="txt-primary">
                                                    Someone famous in
                                                    <cite title="Source Title">Source Title</cite>
                                                </footer>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end of row -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row end -->
            <!-- Color Card end -->
        </div>
        <!-- Container-fluid ends -->
    </div>
</div>

</div>
