

  <div  class="sidebar-mini fixed" >
   
    <div class="wrapper" >
    <div ng-include="'shared/header.html'"></div>
 <div ng-include="'shared/sidebar.html'" data-ng-controller="menuController" data-ng-init="setMenu()"></div> 
    
    <div class="content-wrapper">
        <!-- Container-fluid starts -->
        <div class="container-fluid">
            <!-- Main content starts -->

            <!-- Header Starts -->
            <div class="row">
                <div class="main-header">
                    <h4>Contact Details</h4>
                    <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                        <li class="breadcrumb-item">
                            <a href="index.html">
                                <i class="icofont icofont-home"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item"><a href="">Theme UI</a></li>
                        <li class="breadcrumb-item"><a href="contact-details.html">Contact Details</a></li>
                    </ol>
                </div>
            </div>
            <!-- Header end -->

            <div class="row">
                <div class="col-xl-3 contact-user">
                    <div class="users">
                        <div class="card users-main contact-box users-main-fix">
                            <div class="card-block user-box">
                                <div class="md-group-add-on p-relative md-float-material">
                                    <span class="md-add-on">
                                     <i class="icofont icofont-search-alt-2"></i>
                                    </span>
                                    <div class="md-input-wrapper">
                                        <input type="text" class="md-form-control" id="search-users">
                                        <label>Search..</label>

                                    </div>
                                </div>
                            <div class="user-box-users" slimscroll="{height: '90%',allowPageScroll: false,color :'#1b8bf9'}">
                                <div class="media contact-list-box">
                                    <a class="media-left" href="">
                                        <img class="media-object  img-circle" src="assets/images/avatar-1.jpg" alt="Generic placeholder image">
                                        <div class="live-status bg-danger"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="users-header">Josephin Doe</div>
                                        <div>Josephin@domen.com</div>
                                    </div>
                                </div>
                                <div class="media contact-list-box">
                                    <a class="media-left" href="">
                                        <img class="media-object img-circle" src="assets/images/avatar-2.jpg" alt="Generic placeholder image">
                                        <div class="live-status bg-danger"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="users-header">Aliya Doe</div>
                                        <div>Aliya@domen.com</div>
                                    </div>
                                </div>
                                <div class="media contact-list-box">
                                    <a class="media-left" href="">
                                        <img class="media-object img-circle" src="assets/images/avatar-3.jpg" alt="Generic placeholder image">
                                        <div class="live-status bg-success"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="users-header">Doe Josephin</div>
                                        <div>Josephin@domen.com</div>
                                    </div>
                                </div>
                                <div class="media contact-list-box">
                                    <a class="media-left" href="">
                                        <img class="media-object img-circle" src="assets/images/avatar-4.jpg" alt="Generic placeholder image">
                                        <div class="live-status bg-danger"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="users-header">Arclic</div>
                                        <div>Arclic@domen.com</div>
                                    </div>
                                </div>
                                <div class="media contact-list-box">
                                    <a class="media-left" href="">
                                        <img class="media-object img-circle" src="assets/images/avatar-5.jpg" alt="Generic placeholder image">
                                        <div class="live-status bg-success"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="users-header">Dom Doe</div>
                                        <div>Dom@domen.com</div>
                                    </div>
                                </div>
                                <div class="media contact-list-box">
                                    <a class="media-left" href="">
                                        <img class="media-object img-circle" src="assets/images/avatar-1.jpg" alt="Generic placeholder image">
                                        <div class="live-status bg-danger"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="users-header">Harry Knob</div>
                                        <div>Harry@domen.com</div>
                                    </div>
                                </div>
                                <div class="media contact-list-box">
                                    <a class="media-left" href="">
                                        <img class="media-object img-circle" src="assets/images/avatar-2.jpg" alt="Generic placeholder image">
                                        <div class="live-status bg-danger"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="users-header">Jasmin Doe</div>
                                        <div>Jasmin@domen.com</div>
                                    </div>
                                </div>
                                <div class="media contact-list-box">
                                    <a class="media-left" href="">
                                        <img class="media-object img-circle" src="assets/images/avatar-3.jpg" alt="Generic placeholder image">
                                        <div class="live-status bg-success"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="users-header">Doe Lorens</div>
                                        <div>Lorens@domen.com</div>
                                    </div>
                                </div>
                                <div class="media contact-list-box">
                                    <a class="media-left" href="">
                                        <img class="media-object img-circle" src="assets/images/avatar-4.jpg" alt="Generic placeholder image">
                                        <div class="live-status bg-danger"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="users-header">Larry</div>
                                        <div>Larry@domen.com</div>
                                    </div>
                                </div>
                                <div class="media contact-list-box">
                                    <a class="media-left" href="">
                                        <img class="media-object img-circle" src="assets/images/avatar-5.jpg" alt="Generic placeholder image">
                                        <div class="live-status bg-success"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="users-header">Daizy Josephin</div>
                                        <div>Daizy@domen.com</div>
                                    </div>
                                </div>
                                <div class="media contact-list-box">
                                    <a class="media-left" href="">
                                        <img class="media-object img-circle" src="assets/images/avatar-5.jpg" alt="Generic placeholder image">
                                        <div class="live-status bg-success"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="users-header">Sakira Doe</div>
                                        <div>Sakira@domen.com</div>
                                    </div>
                                </div>
                                <div class="media contact-list-box">
                                    <a class="media-left" href="">
                                        <img class="media-object img-circle" src="assets/images/avatar-5.jpg" alt="Generic placeholder image">
                                        <div class="live-status bg-success"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="users-header">Doe Josephin</div>
                                        <div>Josephin@domen.com</div>
                                    </div>
                                </div>
                                <div class="media contact-list-box">
                                    <a class="media-left" href="">
                                        <img class="media-object img-circle" src="assets/images/avatar-5.jpg" alt="Generic placeholder image">
                                        <div class="live-status bg-success"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="users-header">Doe Josephin</div>
                                        <div>Josephin@domen.com</div>
                                    </div>
                                </div>
                                <div class="media contact-list-box">
                                    <a class="media-left" href="">
                                        <img class="media-object img-circle" src="assets/images/avatar-5.jpg" alt="Generic placeholder image">
                                        <div class="live-status bg-success"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="users-header">Anamika Joseph</div>
                                        <div>Anamika@domen.com</div>
                                    </div>
                                </div>
                                <div class="media contact-list-box">
                                    <a class="media-left" href="">
                                        <img class="media-object img-circle" src="assets/images/avatar-5.jpg" alt="Generic placeholder image">
                                        <div class="live-status bg-success"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="users-header">Daizy Josephin</div>
                                        <div>Daizy@domen.com</div>
                                    </div>
                                </div>
                                <div class="media contact-list-box">
                                    <a class="media-left" href="">
                                        <img class="media-object img-circle" src="assets/images/avatar-5.jpg" alt="Generic placeholder image">
                                        <div class="live-status bg-success"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="users-header">Doe Josephin</div>
                                        <div>Josephin@domen.com</div>
                                    </div>
                                </div>
                                <div class="media contact-list-box">
                                    <a class="media-left" href="">
                                        <img class="media-object img-circle" src="assets/images/avatar-5.jpg" alt="Generic placeholder image">
                                        <div class="live-status bg-success"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="users-header">Doe Josephin</div>
                                        <div>Josephin@domen.com</div>
                                    </div>
                                </div>
                                <div class="media contact-list-box">
                                    <a class="media-left" href="">
                                        <img class="media-object img-circle" src="assets/images/avatar-5.jpg" alt="Generic placeholder image">
                                        <div class="live-status bg-success"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="users-header">Daizy Josephin</div>
                                        <div>Daizy@domen.com</div>
                                    </div>
                                </div>
                                <div class="media contact-list-box">
                                    <a class="media-left" href="">
                                        <img class="media-object img-circle" src="assets/images/avatar-5.jpg" alt="Generic placeholder image">
                                        <div class="live-status bg-success"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="users-header">Aliya Josephin</div>
                                        <div>Aliya@domen.com</div>
                                    </div>
                                </div>
                                <div class="media contact-list-box">
                                    <a class="media-left" href="">
                                        <img class="media-object img-circle" src="assets/images/avatar-5.jpg" alt="Generic placeholder image">
                                        <div class="live-status bg-success"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="users-header">Sakira Josephin</div>
                                        <div>Josephin@domen.com</div>
                                    </div>
                                </div>
                                <div class="media contact-list-box">
                                    <a class="media-left" href="">
                                        <img class="media-object img-circle" src="assets/images/avatar-5.jpg" alt="Generic placeholder image">
                                        <div class="live-status bg-success"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="users-header">Doe Josephin</div>
                                        <div>Josephin@domen.com</div>
                                    </div>
                                </div>
                                <div class="media contact-list-box">
                                    <a class="media-left" href="">
                                        <img class="media-object img-circle" src="assets/images/avatar-5.jpg" alt="Generic placeholder image">
                                        <div class="live-status bg-success"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="users-header">Doe Josephin</div>
                                        <div>Josephin@domen.com</div>
                                    </div>
                                </div>
                                <div class="media contact-list-box">
                                    <a class="media-left" href="">
                                        <img class="media-object img-circle" src="assets/images/avatar-5.jpg" alt="Generic placeholder image">
                                        <div class="live-status bg-success"></div>
                                    </a>
                                    <div class="media-body">
                                        <div class="users-header">Doe Josephin</div>
                                        <div>Josephin@domen.com</div>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-9 contact-detail">
                    <div class="card media-contactBox" >
                        <div class="card-block ">
                            <div class="contact-mobi-front">
                                <i class="icofont icofont-navigation-menu contact-btn " ></i>
                                <div class="contact-details-front-img">
                                    <img class="img img-circle" src="assets/images/lockscreen.png" alt="img cap" />
                                    <h4>phoenixcoded</h4>
                                    <p>Hello, I'm a just a dummy contact in your contact list and this is my presentation text. Have fun!</p>

                                </div>
                                <div class="container">
                                    <div class="md-float-material">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="md-group-add-on p-relative">
                                                    <span class="md-add-on">
                            <i class="icofont icofont-user"></i>
                        </span>
                                                    <div class="md-input-wrapper">
                                                        <input type="text" class="md-form-control">
                                                        <label>Full Name</label>

                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="md-group-add-on p-relative">
                                                    <span class="md-add-on">
                            <i class="icofont icofont-envelope-open"></i>
                        </span>
                                                    <div class="md-input-wrapper">
                                                        <input type="email" class="md-form-control">
                                                        <label>Email</label>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="md-group-add-on p-relative">
                                                    <span class="md-add-on">
                            <i class="icofont icofont-phone-circle"></i>
                        </span>
                                                    <div class="md-input-wrapper">
                                                        <input type="number" class="md-form-control">
                                                        <label>Phone No</label>

                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-sm-6">
                                                <div class="md-group-add-on p-relative">
                                                    <span class="md-add-on">
                            <i class="icofont icofont-ui-cell-phone"></i>
                        </span>
                                                    <div class="md-input-wrapper">
                                                        <input type="number" class="md-form-control">
                                                        <label>Mobile No</label>

                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-sm-6">
                                                <div class="md-group-add-on p-relative">
                                                    <span class="md-add-on">
                            <i class="icofont icofont-brand-wordpress"></i>
                        </span>
                                                    <div class="md-input-wrapper">
                                                        <input type="text" class="md-form-control">
                                                        <label>Website</label>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="md-group-add-on p-relative">
                                                    <span class="md-add-on">
                            <i class="icofont icofont-social-dribbble"></i>
                        </span>
                                                    <div class="md-input-wrapper">
                                                        <input type="text" class="md-form-control">
                                                        <label>Social</label>

                                                    </div>
                                                </div>
                                            </div>
                                            <!-- </div> -->

                                            <!-- <div class="row"> -->
                                            <div class="col-sm-12">
                                                <div class="md-group-add-on p-relative">
                                                    <span class="md-add-on">
                                                    <i class="icofont icofont-address-book"></i>
                                                </span>
                                                    <div class="md-input-wrapper">
                                                        <textarea class="md-form-control" cols="2" rows="3"></textarea>
                                                        <label>Address</label>

                                                    </div>
                                                </div>

                                            </div>
                                            <div class="col-sm-12">
                                                <div class="rkmd-checkbox checkbox-rotate">
                                                    <label class="input-checkbox checkbox-primary">
                                                        <input type="checkbox" id="checkbox">
                                                        <span class="checkbox"></span>
                                                    </label>
                                                    <span class="captions">Favorite contact?</span>
                                                </div>
                                            </div>
                                            <div class="contact-card-button">
                                                <button type="button" class="btn btn-primary" data-angular-ripple>
                                                    <i class="icofont icofont-plus m-r-5"> </i>ADD CONTACT
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end of contact-details-front-img -->
                            </div>
                            <!-- end of contact-mobi-front -->
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <!-- Container-fluid ends -->
    </div>
</div>
</div>

