

  <div  class="sidebar-mini fixed" >
   
    <div class="wrapper" >
  <div ng-include="'shared/header.html'"></div>
 <div ng-include="'shared/sidebar.html'" data-ng-controller="menuController" data-ng-init="setMenu()"></div> 
    <div class="content-wrapper">
        <!-- Container-fluid starts -->
        <div class="container-fluid">
            <!-- Header start -->
            <div class="row">
                <div class="col-sm-12 p-0">
                    <div class="main-header">
                        <h4>Contact Cards</h4>
                        <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                            <li class="breadcrumb-item">
                                <a href="index.html">
                                    <i class="icofont icofont-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href=""> Theme UI </a>
                            </li>
                            <li class="breadcrumb-item"><a href="contact-card.html">Contact Cards</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- Header end -->



            <div class="row">
                <div class="col-xl-3 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="contact-mobile">
                            <div class="contact-mobi-back">
                                <img class="card-img width-100" src="assets/images/contact-card/contact5.jpg" alt="Card image cap">
                            </div>
                            <!-- end of contact-mobi-back -->
                            <div class="contact-mobi-front">
                                <div class="front-img">
                                    <img class="img img-circle" src="assets/images/avatar-1.png" alt="img cap" />
                                    <a href="">Jhone Doe</a>
                                </div>
                            </div>
                            <!-- end of contact-mobi-front -->

                            <ul>
                                <li class="contact-card-info">
                                    <i class="icofont icofont-ui-cell-phone"></i> +04 739-379-7890
                                </li>
                                <li class="contact-card-info">
                                    <i class="icofont icofont-email"></i>
                                    <a href="mailto:joe@example.com">admin@phoenixcoded.com</a>
                                </li>
                                <li class="contact-card-info">
                                    <i class="icofont icofont-globe"></i>
                                    <a href="http://phoenixcoded.com" target="blank">http://www.phoenixcoded.com</a>
                                </li>
                                <li class="contact-card-button">
                                    <button type="button" class="btn btn-primary  " data-angular-ripple>ADD CONTACT
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <!-- end of contact-mobile class -->
                    </div>
                    <!-- end of card -->
                </div>
                <!-- end of col-xl-3 col-md-6 col-sm-12 -->

                <div class="col-xl-3 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="contact-mobile">
                            <div class="contact-mobi-back">
                                <img class="card-img width-100" src="assets/images/contact-card/contact6.jpg" alt="Card image cap">
                            </div>
                            <!-- end of contact-mobi-back -->
                            <div class="contact-mobi-front">
                                <div class="front-img">
                                    <img class="img img-circle" src="assets/images/faq_man.png" alt="img cap" />
                                    <a href="">Soham Doe</a>
                                </div>
                            </div>
                            <!-- end of contact-mobi-front -->

                            <ul>
                                <li class="contact-card-info">
                                    <i class="icofont icofont-ui-cell-phone"></i> +01 679-987-7302
                                </li>
                                <li class="contact-card-info">
                                    <i class="icofont icofont-email"></i>
                                    <a href="mailto:joe@example.com">support@phoenixcoded.com</a>
                                </li>
                                <li class="contact-card-info">
                                    <i class="icofont icofont-globe"></i>
                                    <a href="http://phoenixcoded.com" target="blank">http://www.phoenixcoded.com</a>
                                </li>
                                <li class="contact-card-button">
                                    <button type="button" class="btn btn-primary " data-angular-ripple>ADD CONTACT
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <!-- end of contact-mobile class -->
                    </div>
                    <!-- end of card -->
                </div>
                <!-- end of col-xl-3 col-md-6 col-sm-12 -->

                <div class="col-xl-3 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="contact-mobile">
                            <div class="contact-mobi-back">
                                <img class="card-img width-100" src="assets/images/contact-card/contact7.jpg" alt="Card image cap">
                            </div>
                            <!-- end of contact-mobi-back -->
                            <div class="contact-mobi-front">
                                <div class="front-img">
                                    <img class="img img-circle" src="assets/images/avatar-3.png" alt="img cap" />
                                    <a href="">Alice</a>
                                </div>
                            </div>
                            <!-- end of contact-mobi-front -->

                            <ul>
                                <li class="contact-card-info">
                                    <i class="icofont icofont-ui-cell-phone"></i> +11 370-106-7150
                                </li>
                                <li class="contact-card-info">
                                    <i class="icofont icofont-email"></i>
                                    <a href="mailto:joe@example.com">marketing@phoenixcoded.com</a>
                                </li>
                                <li class="contact-card-info">
                                    <i class="icofont icofont-globe"></i>
                                    <a href="http://phoenixcoded.com" target="blank">http://www.phoenixcoded.com</a>
                                </li>
                                <li class="contact-card-button">
                                    <button type="button" class="btn btn-primary " data-angular-ripple>ADD CONTACT
                                    </button>

                                </li>
                            </ul>
                        </div>
                        <!-- end of contact-mobile class -->
                    </div>
                    <!-- end of card -->
                </div>
                <!-- end of col-xl-3 col-md-6 col-sm-12 -->

                <div class="col-xl-3 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="contact-mobile">
                            <div class="contact-mobi-back">
                                <img class="card-img width-100" src="assets/images/contact-card/contact8.jpg" alt="Card image cap">
                            </div>
                            <!-- end of contact-mobi-back -->
                            <div class="contact-mobi-front">
                                <div class="front-img">
                                    <img class="img img-circle" src="assets/images/lockscreen.png" alt="img cap" />
                                    <a href="">Michael Scofield</a>
                                </div>
                            </div>
                            <!-- end of contact-mobi-front -->

                            <ul>
                                <li class="contact-card-info">
                                    <i class="icofont icofont-ui-cell-phone"></i> +91 123-456-7890
                                </li>
                                <li class="contact-card-info">
                                    <i class="icofont icofont-email"></i>
                                    <a href="mailto:joe@example.com">sales@phoenixcoded.com</a>
                                </li>
                                <li class="contact-card-info">
                                    <i class="icofont icofont-globe"></i>
                                    <a href="http://phoenixcoded.com" target="blank">http://www.phoenixcoded.com</a>
                                </li>
                                <li class="contact-card-button">
                                    <button type="button" class="btn btn-primary " data-angular-ripple>ADD CONTACT
                                    </button>

                                </li>
                            </ul>
                        </div>
                        <!-- end of contact-mobile class -->
                    </div>
                    <!-- end of card -->
                </div>
                <!-- end of col-xl-3 col-md-6 col-sm-12 -->

            </div>
            <!-- end of row -->
            <!--    Start Row-->
            <div class="row">
                <div class="col-xl-3 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="contact-mobile">
                            <div class="contact-mobi-back">
                                <img class="card-img width-100" src="assets/images/contact-card/contact1.jpg" alt="Card image cap">
                            </div>
                            <!-- end of contact-mobi-back -->
                            <div class="contact-mobi-front">
                                <div class="front-img">
                                    <img class="img img-circle" src="assets/images/avatar-2.png" alt="img cap" />
                                    <a href="">Irina Shayk</a>
                                </div>
                            </div>
                            <!-- end of contact-mobi-front -->

                            <ul>
                                <li class="contact-card-info">
                                    <i class="icofont icofont-ui-cell-phone"></i> +04 739-379-7890
                                </li>
                                <li class="contact-card-info">
                                    <i class="icofont icofont-email"></i>
                                    <a href="mailto:joe@example.com">admin@phoenixcoded.com</a>
                                </li>
                                <li class="contact-card-info">
                                    <i class="icofont icofont-globe"></i>
                                    <a href="http://phoenixcoded.com" target="blank">http://www.phoenixcoded.com</a>
                                </li>
                                <li class="contact-card-button">
                                    <button type="button" class="btn btn-primary " data-angular-ripple>ADD CONTACT
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <!-- end of contact-mobile class -->
                    </div>
                    <!-- end of card -->
                </div>
                <!-- end of col-xl-3 col-md-6 col-sm-12 -->

                <div class="col-xl-3 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="contact-mobile">
                            <div class="contact-mobi-back">
                                <img class="card-img width-100" src="assets/images/contact-card/contact2.jpg" alt="Card image cap">
                            </div>
                            <!-- end of contact-mobi-back -->
                            <div class="contact-mobi-front">
                                <div class="front-img">
                                    <img class="img img-circle" src="assets/images/avatar-3.png" alt="img cap" />
                                    <a href="">Josephin Doe</a>
                                </div>
                            </div>
                            <!-- end of contact-mobi-front -->

                            <ul>
                                <li class="contact-card-info">
                                    <i class="icofont icofont-ui-cell-phone"></i> +01 679-987-7302
                                </li>
                                <li class="contact-card-info">
                                    <i class="icofont icofont-email"></i>
                                    <a href="mailto:joe@example.com">support@phoenixcoded.com</a>
                                </li>
                                <li class="contact-card-info">
                                    <i class="icofont icofont-globe"></i>
                                    <a href="http://phoenixcoded.com" target="blank">http://www.phoenixcoded.com</a>
                                </li>
                                <li class="contact-card-button">
                                    <button type="button" class="btn btn-primary" data-angular-ripple>ADD CONTACT
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <!-- end of contact-mobile class -->
                    </div>
                    <!-- end of card -->
                </div>
                <!-- end of col-xl-3 col-md-6 col-sm-12 -->

                <div class="col-xl-3 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="contact-mobile">
                            <div class="contact-mobi-back">
                                <img class="card-img width-100" src="assets/images/contact-card/contact3.jpg" alt="Card image cap">
                            </div>
                            <!-- end of contact-mobi-back -->
                            <div class="contact-mobi-front">
                                <div class="front-img">
                                    <img class="img img-circle" src="assets/images/avatar-4.png" alt="img cap" />
                                    <a href="">Sara Tancredi</a>
                                </div>
                            </div>
                            <!-- end of contact-mobi-front -->

                            <ul>
                                <li class="contact-card-info">
                                    <i class="icofont icofont-ui-cell-phone"></i> +11 370-106-7150
                                </li>
                                <li class="contact-card-info">
                                    <i class="icofont icofont-email"></i>
                                    <a href="mailto:joe@example.com">marketing@phoenixcoded.com</a>
                                </li>
                                <li class="contact-card-info">
                                    <i class="icofont icofont-globe"></i>
                                    <a href="http://phoenixcoded.com" target="blank">http://www.phoenixcoded.com</a>
                                </li>
                                <li class="contact-card-button">
                                    <button type="button" class="btn btn-primary" data-angular-ripple>ADD CONTACT
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <!-- end of contact-mobile class -->
                    </div>
                    <!-- end of card -->
                </div>
                <!-- end of col-xl-3 col-md-6 col-sm-12 -->

                <div class="col-xl-3 col-md-6 col-sm-12">
                    <div class="card">
                        <div class="contact-mobile">
                            <div class="contact-mobi-back">
                                <img class="card-img width-100" src="assets/images/contact-card/contact4.jpg" alt="Card image cap">
                            </div>
                            <!-- end of contact-mobi-back -->
                            <div class="contact-mobi-front">
                                <div class="front-img">
                                    <img class="img img-circle" src="assets/images/avatar-5.png" alt="img cap" />
                                    <a href="">Samone Mendize</a>
                                </div>
                            </div>
                            <!-- end of contact-mobi-front -->

                            <ul>
                                <li class="contact-card-info">
                                    <i class="icofont icofont-ui-cell-phone"></i> +91 123-456-7890
                                </li>
                                <li class="contact-card-info">
                                    <i class="icofont icofont-email"></i>
                                    <a href="mailto:joe@example.com">sales@phoenixcoded.com</a>
                                </li>
                                <li class="contact-card-info">
                                    <i class="icofont icofont-globe"></i>
                                    <a href="http://phoenixcoded.com" target="blank">http://www.phoenixcoded.com</a>
                                </li>
                                <li class="contact-card-button">
                                    <button type="button" class="btn btn-primary" data-angular-ripple>ADD CONTACT
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <!-- end of contact-mobile class -->
                    </div>
                    <!-- end of card -->
                </div>
                <!-- end of col-xl-3 col-md-6 col-sm-12 -->

            </div>
            <!--    End Row-->

            <!-- end of content class -->
        </div>
        <!-- Container-fluid ends -->
    </div>
</div>
</div>
