  <div  class="sidebar-mini fixed" >
   
    <div class="wrapper">
   
<div ng-include="'shared/header.html'"></div>
 <div ng-include="'shared/sidebar.html'" data-ng-controller="menuController" data-ng-init="setMenu()"></div> 

    <div class="content-wrapper">
        <!-- Container-fluid starts -->
        <div class="container-fluid">
            <!-- Row Starts -->
            <div class="row">
                <div class="col-sm-12 p-0">
                    <div class="main-header">
                        <h4>Grid-Stack</h4>
                        <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                            <li class="breadcrumb-item"><a href="index.html"><i class="icofont icofont-home"></i></a>
                            </li>
                            <li class="breadcrumb-item"><a href="">Icons</a>
                            </li>
                            <li class="breadcrumb-item"><a href="gridstack.html">Grid-Stack</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- Row end -->

            <!-- Row Starts -->
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-header-text">
                                GridStack
                            </h5>
                        </div>
                        <div class="card-block">
                            <div gridstack class="grid-stack" gs-item-width="12" gs-item-animate="yes">
                                <div gridstack-item class="grid-stack-item" gs-item-x="0" gs-item-y="0" gs-item-width="4" gs-item-height="2" ><div class="grid-stack-item-content">1</div></div>
                                <div gridstack-item class="grid-stack-item" gs-item-x="4" gs-item-y="0" gs-item-width="4" gs-item-height="4"><div class="grid-stack-item-content">2</div></div>
                                <div gridstack-item class="grid-stack-item" gs-item-x="8" gs-item-y="0" gs-item-width="2" gs-item-height="2" data-gs-min-width="2" data-gs-no-resize="yes"><div class="grid-stack-item-content bg-primary d-flex"> <span class="icofont icofont-hand-drag m-r-20 f-64"></span> <h5>Drag me! </h5>  </div></div>
                                <div gridstack-item class="grid-stack-item" gs-item-x="10" gs-item-y="0" gs-item-width="2" gs-item-height="2"><div class="grid-stack-item-content">4</div></div>
                                <div gridstack-item class="grid-stack-item" gs-item-x="0" gs-item-y="2" gs-item-width="2" gs-item-height="2"><div class="grid-stack-item-content">5</div></div>
                                <div gridstack-item class="grid-stack-item" gs-item-x="2" gs-item-y="2" gs-item-width="2" gs-item-height="4"><div class="grid-stack-item-content">6</div></div>
                                <div gridstack-item class="grid-stack-item" gs-item-x="8" gs-item-y="2" gs-item-width="4" gs-item-height="2"><div class="grid-stack-item-content">7</div></div>
                                <div gridstack-item class="grid-stack-item" gs-item-x="0" gs-item-y="4" gs-item-width="2" gs-item-height="2"><div class="grid-stack-item-content">8</div></div>
                                <div gridstack-item class="grid-stack-item" gs-item-x="4" gs-item-y="4" gs-item-width="4" gs-item-height="2"><div class="grid-stack-item-content">9</div></div>
                                <div gridstack-item class="grid-stack-item" gs-item-x="8" gs-item-y="4" gs-item-width="2" gs-item-height="2"><div class="grid-stack-item-content">10</div></div>
                                <div gridstack-item class="grid-stack-item" gs-item-x="10" gs-item-y="4" gs-item-width="2" gs-item-height="2"><div class="grid-stack-item-content">11</div></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row end -->
        <!-- end of grid-stack -->
    </div>
        <!-- Container-fluid ends -->
     </div>
</div>
 </div>