

  <div  class="sidebar-mini fixed" >
   
    <div class="wrapper" >
   
 <div ng-include="'shared/header.html'"></div>
 <div ng-include="'shared/sidebar.html'" data-ng-controller="menuController" data-ng-init="setMenu()"></div>
 
    <div class="content-wrapper">
        <!-- Container-fluid starts -->
        <div class="container">
            <!-- Main content starts -->
            <div >
                <div class="card">
                    <div class="invoice-contact">
                        <div class="col-md-8">
                            <div class="invoice-box row">
                                <div class="col-sm-4 text-center">
                                    <h1>A</h1>
                                </div>
                                <div class="col-sm-8">
                                    <table class="table table-responsive invoice-table">
                                        <tbody>
                                        <tr>
                                            <td>Phoenixcoded</td>
                                        </tr>
                                        <tr>
                                            <td>03/08/1990</td>
                                        </tr>
                                        <tr>
                                            <td><a href="mailto:demo@gmail.com" target="_top">demo@gmail.com</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>208, Paris Point, Varachha Road, Surat. (1234) - 567891</td>
                                        </tr>
                                        <tr>
                                            <td>2589741587</td>
                                        </tr>
                                        <tr>

                                            <td><a href="" target="_blank">www.demo.com</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row text-center">
                                <div class="col-sm-12 invoice-btn-group">
                                    <button type="button" class="btn btn-primary btn-print-invoice waves-effect waves-light m-r-20">Print Invoice
                                    </button>
                                    <button type="button" class="btn btn-danger waves-effect waves-light">Cancel Invoice
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-block">
                        <div class="row invoive-info">
                            <div class="col-md-4 col-xs-12 invoice-client-info">
                                <h6>Client Information :</h6>
                                <h6>Josephin Villa</h6>
                                <p>208, Peris Point, Varachha Road, Surat.</p>
                                <p>(1234) - 567891</p>
                                <p>demo@phoenixcoded.com</p>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <h6>Order Information :</h6>
                                <table class="table table-responsive invoice-table invoice-order">
                                    <tbody>
                                    <tr>
                                        <th>Date :</th>
                                        <td>November 14</td>
                                    </tr>
                                    <tr>
                                        <th>Status :</th>
                                        <td>
                                            <span class="label label-warning">Pending</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Id :</th>
                                        <td>
                                            #145698
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <h6 class="m-b-20">Invoice Number   <span>#12398521473</span></h6>
                                <h6 class="text-uppercase txt-info">Total Due :
                                    <span>$900.00</span>
                                </h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table invoice-detail-table">
                                    <thead>
                                    <tr class="thead-default">
                                        <th>Description</th>
                                        <th>Quantity</th>
                                        <th>Amount</th>
                                        <th>Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                            <h6>Logo Design</h6>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
                                        </td>
                                        <td>6</td>
                                        <td>$200.00</td>
                                        <td>$1200.00</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h6>Logo Design</h6>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
                                        </td>
                                        <td>7</td>
                                        <td>$100.00</td>
                                        <td>$700.00</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h6>Logo Design</h6>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt </p>
                                        </td>
                                        <td>5</td>
                                        <td>$150.00</td>
                                        <td>$750.00</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-responsive invoice-table invoice-total">
                                    <tbody >
                                    <tr>
                                        <th>Sub Total  :</th>
                                        <td>$4725.00</td>
                                    </tr>
                                    <tr>
                                        <th>Taxes (10%)  :</th>
                                        <td>$57.00</td>
                                    </tr>
                                    <tr>
                                        <th>Discount (5%)  :</th>
                                        <td>$45.00</td>
                                    </tr>
                                    <tr class="txt-info">
                                        <th><h5>Total  :</h5></th>
                                        <td><h5>$4827.00</h5></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <h6>Terms And Condition :</h6>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Container-fluid ends -->
    </div>
</div>
</div>

