

  <div  class="sidebar-mini fixed" >
   
    <div class="wrapper" data-ng-controller="chartFloatController">
   
  <div ng-include="'shared/header.html'"></div>
 <div ng-include="'shared/sidebar.html'" data-ng-controller="menuController" data-ng-init="setMenu()"></div>

    <div class="content-wrapper">
        <!-- Container-fluid starts -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 p-0">
                    <div class="main-header">
                        <h4>Issue List</h4>
                        <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                            <li class="breadcrumb-item"><a href="index.html"><i class="icofont icofont-home"></i></a>
                            </li>
                            <li class="breadcrumb-item"><a href="#!">Apps</a>
                            </li>
                            <li class="breadcrumb-item"><a href="issue-list.html">Issue List</a>
                            </li>
                        </ol>
                    </div>
                    <!-- end of main-header -->
                </div>
                <!-- end of col-sm-12 -->
            </div>
            <!-- end of row -->


            <div class="row">

                <div class="col-xl-4">
                    <div class="card">
                        <!-- <div class="card-header"><h5 class="card-header-text">Overall Progress</h5></div> -->
                        <div class="card-block">
                            <!-- <p>.col-sm-4</p> -->
                            <div class="issue-list-progress">
                                <h6>Overall Progress</h6>
                                <div class="issue-progress">
                                   <div class="progress" data-ng-controller="issueListController">
                                       <span class="issue-text1 txt-primary"></span>
                                       <div class="issue-bar1 bg-primary"></div>
                                   </div>
                                    <!-- end of progress -->
                                </div>
                                <!-- end of issue progress -->
                            </div>
                            <!-- end of issue list progress -->

                            <div class="row">
                                <div class="col-md-12 matrics-issue">
                                    <h6 class="sub-title">matrics</h6>
                                    <div class="col-md-6 text-center">
                                        <flot dataset="pieDataset" options="pieOptions" height="300px"></flot>
                                        <h6>Issues</h6>
                                    </div>
                                    <div class="col-md-6 text-center">
                                        <flot dataset="pieDataset" options="pieOptions" height="300px"></flot>
                                        <h6>Bugs</h6>
                                    </div>

                                </div>
                                <!-- end of row -->
                            </div>
                            <!-- end of matric progress -->

                            <table class="table">
                                <tbody>
                                <tr>
                                    <td>
                                        <strong>Assigned Hours</strong>
                                    </td>
                                    <td class="txt-primary">70 Hours</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Time Consumed</strong>
                                    </td>
                                    <td class="txt-danger">49 Hours</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Issues</strong>
                                    </td>
                                    <td class="txt-primary">19</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Bugs</strong>
                                    </td>
                                    <td class="txt-primary">16</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Health</strong>
                                    </td>
                                    <td class="txt-success">75%</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Commits</strong>
                                    </td>
                                    <td class="txt-primary">280</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Bugs Percentage</strong>
                                    </td>
                                    <td class="txt-danger">25%</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Assign Date</strong>
                                    </td>
                                    <td class="txt-info">02/11/2016</td>
                                </tr>
                                <tr>
                                    <td>
                                        <strong>Last closed on</strong>
                                    </td>
                                    <td class="txt-info">15/01/2017</td>
                                </tr>
                                </tbody>
                                <!-- end of tbody -->
                            </table>
                            <!-- end of table -->


                        </div>
                        <!-- end of card-block -->
                    </div>
                    <!-- end of card -->
                </div>

                <div class="col-xl-8">

                    <div class="card">
                        <div class="card-block">
                            <div class=" waves-effect waves-light m-r-10 v-middle issue-btn-group">
                                <button type="button" class="btn btn-success btn-new-tickets waves-effect waves-light m-r-15 " data-angular-ripple><i class="icofont icofont-paper-plane"></i><span class="m-l-10">New Tickets</span></button>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary btn-sm waves-effect waves-light" data-angular-ripple><i class="icofont icofont-ui-user"></i></button>
                                    <button type="button" class="btn btn-primary btn-sm waves-effect waves-light" data-angular-ripple><i class="icofont icofont-edit-alt"></i></button>
                                    <button type="button" class="btn btn-primary btn-sm waves-effect waves-light" data-angular-ripple><i class="icofont icofont-reply"></i></button>
                                    <button type="button" class="btn btn-primary btn-sm waves-effect waves-light" data-angular-ripple><i class="icofont icofont-printer"></i></button>
                                </div>
                            </div>
                            <div class="f-right bug-issue-link">
                                <ol class="breadcrumb bg-white m-0 p-b-0">
                                    <li class="breadcrumb-item"><a href="">16 Bugs</a></li>
                                    <li class="breadcrumb-item"><a href="">19 Issue</a></li>
                                </ol>
                            </div>
                        </div>
                        <!-- end of card-header -->
                    </div>
                    <!-- end of card btn-group -->

                    <div class="card">
                        <div class="card-block">
                            <!-- <p>.col-sm-8</p> -->
                            <!-- <div class="data_table_main"> -->
                            <table id="issue-list-table" class="table dt-responsive width-100" datatable="">
                                <thead class="text-left">
                                <tr>
                                    <th>Type</th>
                                    <th>#ID</th>
                                    <th>Description</th>
                                    <th>Start date</th>
                                    <th>Priority</th>
                                    <th>Assigned</th>
                                    <th>Status</th>
                                </tr>
                                </thead>
                                <tbody class="text-left">
                                <tr>
                                    <td class="txt-primary">Bug</td>
                                    <td>PI:198756541080</td>
                                    <td>Software Run Failure</td>
                                    <td>2015/01/10</td>
                                    <td><span class="label label-danger">Highest</span></td>
                                    <td><a href="">Katerina larson</a></td>
                                    <td><span class="label label-primary">Open</span></td>
                                </tr>
                                <tr>
                                    <td class="txt-primary">Bug</td>
                                    <td>PI:198756897280</td>
                                    <td>Server Randering</td>
                                    <td>2015/04/22</td>
                                    <td><span class="label label-success">Normal</span></td>
                                    <td><a href="">Mitchell Jones</a></td>
                                    <td><span class="label label-danger">Close</span></td>
                                </tr>
                                <tr>
                                    <td class="txt-primary">Bug</td>
                                    <td>PI:198773249750</td>
                                    <td>Cluster Load Balancing</td>
                                    <td>2015/01/10</td>
                                    <td><span class="label label-info">Slow</span></td>
                                    <td><a href="">Michal Marshell</a></td>
                                    <td><span class="label label-warning">Pending</span></td>
                                </tr>
                                <tr>
                                    <td class="txt-primary">Bug</td>
                                    <td>PI:197016541230</td>
                                    <td>Data Mirroring Error</td>
                                    <td>2015/01/10</td>
                                    <td><span class="label label-warning">High</span></td>
                                    <td><a href="">Tiger Nixon</a></td>
                                    <td><span class="label label-danger">Close</span></td>
                                </tr>
                                <tr>
                                    <td class="txt-primary">Bug</td>
                                    <td>PI:282256541230</td>
                                    <td>Software Run Failure</td>
                                    <td>2015/01/10</td>
                                    <td><span class="label label-success">Normal</span></td>
                                    <td><a href="">Raghuvinder Singh</a></td>
                                    <td><span class="label label-primary">Open</span></td>
                                </tr>
                                <tr>
                                    <td class="txt-primary">Bug</td>
                                    <td>PI:382906541279</td>
                                    <td>Package Fatal Error</td>
                                    <td>2015/01/10</td>
                                    <td><span class="label label-warning">High</span></td>
                                    <td><a href="">Alex standoman</a></td>
                                    <td><span class="label label-warning">Pending</span></td>
                                </tr>
                                <tr>
                                    <td class="txt-primary">Bug</td>
                                    <td>PI:497056541220</td>
                                    <td>Server Authontication Error</td>
                                    <td>2015/01/10</td>
                                    <td><span class="label label-warning">High</span></td>
                                    <td><a href="">Roya Hamad</a></td>
                                    <td><span class="label label-warning">Pending</span></td>
                                </tr>

                                <tr>
                                    <td class="txt-primary">Bug</td>
                                    <td>PI:198756541230</td>
                                    <td>Software Run Failure</td>
                                    <td>2015/01/10</td>
                                    <td><span class="label label-danger">Highest</span></td>
                                    <td><a href="">Carry Mathison</a></td>
                                    <td><span class="label label-primary">Open</span></td>
                                </tr>
                                <tr>
                                    <td class="txt-primary">Bug</td>
                                    <td>PI:198756541230</td>
                                    <td>Software Run Failure</td>
                                    <td>2015/01/10</td>
                                    <td><span class="label label-danger">Highest</span></td>
                                    <td><a href="">Dugless hole</a></td>
                                    <td><span class="label label-info">On Hold</span></td>
                                </tr>
                                <tr>
                                    <td class="txt-primary">Bug</td>
                                    <td>PI:198756541230</td>
                                    <td>Package Security Failure</td>
                                    <td>2015/01/10</td>
                                    <td><span class="label label-info">slow</span></td>
                                    <td><a href="">Tiger Nixon</a></td>
                                    <td><span class="label label-danger">Close</span></td>
                                </tr>
                                <tr>
                                    <td class="txt-primary">Bug</td>
                                    <td>PI:198756541230</td>
                                    <td>Software Run Failure</td>
                                    <td>2015/01/10</td>
                                    <td><span class="label label-warning">High</span></td>
                                    <td><a href="">Tiger Nixon</a></td>
                                    <td><span class="label label-info">On hold</span></td>
                                </tr>
                                <tr>
                                    <td class="txt-primary">Bug</td>
                                    <td>PI:198756541230</td>
                                    <td>Software Run Failure</td>
                                    <td>2015/01/10</td>
                                    <td><span class="label label-info">slow</span></td>
                                    <td><a href="">Tiger Nixon</a></td>
                                    <td><span class="label label-warning">Pending</span></td>
                                </tr>
                                <tr>
                                    <td class="txt-primary">Bug</td>
                                    <td>PI:198756541230</td>
                                    <td>Software Run Failure</td>
                                    <td>2015/01/10</td>
                                    <td><span class="label label-success">Normal</span></td>
                                    <td><a href="">Tiger Nixon</a></td>
                                    <td><span class="label label-danger">Close</span></td>
                                </tr>
                                <tr>
                                    <td class="txt-primary">Bug</td>
                                    <td>PI:198756541230</td>
                                    <td>Software Run Failure</td>
                                    <td>2015/01/10</td>
                                    <td><span class="label label-info">slow</span></td>
                                    <td><a href="">Tiger Nixon</a></td>
                                    <td><span class="label label-info">On Hold</span></td>
                                </tr>

                                </tbody>
                            </table>
                            <!-- end of table -->
                            <!-- </div> -->
                            <!-- end of data_table_main -->
                        </div>
                        <!-- end of card-block -->
                    </div>
                    <!-- end of card -->
                </div>

            </div>
            <!-- end of row -->
        </div>
        <!-- Container-fluid ends -->
    </div>
</div>
</div>

