
<div class="sidebar-mini" >
<div class="wrapper">
    
    <!-- Navbar-->
        <div ng-include="'shared/header.html'"></div>
 <div ng-include="'shared/sidebar.html'" data-ng-controller="menuFooterFixedController" data-ng-init="setMenu()"></div> 
       <div class="content-wrapper">
    <!-- Container-fluid starts -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 p-0">
                <div class="main-header">
                    <h4>Footer Fixed</h4>
                    <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                        <li class="breadcrumb-item">
                            <a href="index.html">
                                <i class="icofont icofont-home"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item"><a href="#!">Page layout</a></li>
                        <li class="breadcrumb-item"><a href="menu-footer-fixed.html">Menu Footer Fixed</a></li>
                    </ol>
                </div>
                <!-- end of main-header -->
            </div>
            <!-- end of col-sm-12 -->
        </div>
        <div class="card">
            <div class="card-header"><h5 class="card-header-text">Page layouts</h5></div>
            <div class="card-block menu-snaps">
                <div class="row">
                    <div class="col-xs-6 col-md-3 m-b-25">
                        <div class="text-center">
                            <h6 class="m-b-10">Static layout</h6>
                            <a href="menu-static.html" class="layouts-link">
                                <img src="assets/images/static-layouts-B.png" class="img-fluid">
                            </a>
                            <p class="m-t-10 m-b-20">Regions: header, sidebar, content.</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3 m-b-25">
                        <div class="text-center">
                            <h6 class="m-b-10">Header and sidebar fixed</h6>
                            <a href="menu-fixed.html" class="layouts-link">
                                <img src="assets/images/header-sidebar-fixed-B.png" class="img-fluid">
                            </a>
                            <p class="m-t-10 m-b-20">Regions: header, footer, sidebar, content.</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3 m-b-25">
                        <div class="text-center">
                            <h6 class="m-b-10">Sidebar sticky*</h6>
                            <a href="menu-sidebar-sticky.html" class="layouts-link">
                                <img src="assets/images/sidebar-sticky-B.png" class="img-fluid">
                            </a>
                            <p class="m-t-10 m-b-20">Regions: header, footer, sidebar, content.</p>

                        </div>

                    </div>
                    <div class="col-xs-6 col-md-3 m-b-25">
                        <div class="text-center">
                            <h6 class="m-b-10">Header fixed</h6>
                            <a href="menu-header-fixed.html" class="layouts-link">
                                <img src="assets/images/header-fixed-B.png" class="img-fluid">
                            </a>
                            <p class="m-t-10 m-b-20">Regions: header, footer, sidebar, content.</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3 m-b-25">
                        <div class="text-center">
                            <h6 class="m-b-10">Mega Menu</h6>
                            <a href="../horizontal/mega-menu.html" class="layouts-link">
                                <img src="assets/images/mega-menu-B.png" class="img-fluid">
                            </a>
                            <p class="m-t-10">Regions: header, footer, sidebar, content.</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3 m-b-25">
                        <div class="text-center">
                            <h6 class="m-b-10">Menu Horizontal</h6>
                            <a href="../horizontal/menu-horizontal.html" class="layouts-link">
                                <img src="assets/images/menu-horizontal-B.png" class="img-fluid">
                            </a>
                            <p class="m-t-10">Regions: header, footer, sidebar, content.</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3 m-b-25">
                        <div class="text-center">
                            <h6 class="m-b-10">Menu Horizontal Icon</h6>
                            <a href="../horizontal/menu-horizontal-icon.html" class="layouts-link">
                                <img src="assets/images/menu-horizontal-icon-B.png" class="img-fluid">
                            </a>
                            <p class="m-t-10">Regions: header, footer, sidebar, content.</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3 m-b-25">
                        <div class="text-center">
                            <h6 class="m-b-10">Header Horizontal fixed</h6>
                            <a href="../horizontal/menu-horizontal-fixed.html" class="layouts-link">
                                <img src="assets/images/header-horizontal-fixed-B.png" class="img-fluid">
                            </a>
                            <p class="m-t-10">Regions: header, footer, sidebar, content.</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3 m-b-25">
                        <div class="text-center">
                            <h6 class="m-b-10">Header Horizontal Icon Fixed</h6>
                            <a href="../horizontal/menu-horizontal-icon-fixed.html" class="layouts-link">
                                <img src="assets/images/header-horizontal-icon-fixed-B.png" class="img-fluid">
                            </a>
                            <p class="m-t-10">Regions: header, footer, sidebar, content.</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3 m-b-25">
                        <div class="text-center">
                            <h6 class="m-b-10">Footer fixed</h6>
                            <a href="menu-footer-fixed.html" class="layouts-link">
                                <img src="assets/images/footer-fixed-F.png" class="img-fluid">
                            </a>
                            <p class="m-t-10">Regions: header, footer, sidebar, content.</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3 m-b-25">
                        <div class="text-center">
                            <h6 class="m-b-10"> Bottom Menu Fixed</h6>
                            <a href="../horizontal/menu-bottom.html" class="layouts-link">
                                <img src="assets/images/menu-bottom-fixed-B.png" class="img-fluid">
                            </a>
                            <p class="m-t-10">Regions: header, footer, sidebar, content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- Footer start -->

    <footer class="footer-fix">
        <div class="footer-bg b-t-muted">
            &copy; 2016-2017 <a href="">Phoenixcoded</a>, All rights reserved.
        </div>
    </footer>

    <!-- Footer end -->
</div>
    <!-- Container-fluid ends -->
    <!-- Content start -->

    <!-- content ends -->
</div>

</div>
