

  <div  class="sidebar-mini fixed" >
   
    <div class="wrapper">
   
  <div ng-include="'shared/header.html'"></div>
 <div ng-include="'shared/sidebar.html'" data-ng-controller="menuController" data-ng-init="setMenu()"></div> 

    <div class="content-wrapper">
        <!-- Container-fluid starts -->
       <div class="container-fluid">
            <!-- Main content starts -->
            <div>
                <!-- Row Starts -->
                <div class="row">
                    <div class="col-lg-12 p-0">
                        <div class="main-header">
                            <h4>Portlets</h4>
                            <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                                <li class="breadcrumb-item"><a href="index.html"><i class="icofont icofont-home"></i></a>
                                </li>
                                <li class="breadcrumb-item"><a href="#!">UI Elements</a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="portlets.html">Portlets</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- Row end -->

                <!-- Row Starts -->
                <div class="row">
                    <div class="default-grid" data-isotope-container>
                        <!-- Default Portlets -->
                        <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 default-grid-item" data-isotope-item>
                            <div class="card portlets portlets-default">
                                <div class="card-header text-uppercase">
                                    Default
                                    <div class="f-right">
                                        <a href="javascript:;"><i class="icofont icofont-minus"></i></a>
                                        <a href="javascript:;"><i class="icofont icofont-refresh"></i></a>
                                        <a href="javascript:;"><i class="icofont icofont-close"></i></a>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <p class="card-text">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Primary Portlets -->
                        <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 default-grid-item" data-isotope-item>
                            <div class="card portlets portlets-primary">
                                <div class="card-header text-uppercase">
                                    Primary
                                    <div class="f-right">
                                        <a href="javascript:;"><i class="icofont icofont-minus"></i></a>
                                        <a href="javascript:;"><i class="icofont icofont-refresh"></i></a>
                                        <a href="javascript:;"><i class="icofont icofont-close"></i></a>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel pellentesque consequat, ante nulla hendrerit arcu, ac tincidunt mauris lacus sed leo. vamus.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- Success Portlets -->
                        <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 default-grid-item" data-isotope-item>
                            <div class="card portlets portlets-success">
                                <div class="card-header text-uppercase">
                                    Success
                                    <div class="f-right">
                                        <a href="javascript:;"><i class="icofont icofont-minus"></i></a>
                                        <a href="javascript:;"><i class="icofont icofont-refresh"></i></a>
                                        <a href="javascript:;"><i class="icofont icofont-close"></i></a>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel pellentesque consequat.
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- Warning Portlets -->
                        <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 default-grid-item" data-isotope-item>
                            <div class="card portlets portlets-warning">
                                <div class="card-header text-uppercase">
                                    Warning
                                    <div class="f-right">
                                        <a href="javascript:;"><i class="icofont icofont-minus"></i></a>
                                        <a href="javascript:;"><i class="icofont icofont-refresh"></i></a>
                                        <a href="javascript:;"><i class="icofont icofont-close"></i></a>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <p class="card-text">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                                    </p>
                                </div>
                            </div>
                        </div> 
                        <!-- Danger Portlets -->
                        <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 default-grid-item" data-isotope-item>
                            <div class="card portlets portlets-danger">
                                <div class="card-header text-uppercase">
                                    Danger
                                    <div class="f-right">
                                        <a href="javascript:;"><i class="icofont icofont-minus"></i></a>
                                        <a href="javascript:;"><i class="icofont icofont-refresh"></i></a>
                                        <a href="javascript:;"><i class="icofont icofont-close"></i></a>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel pellentesque consequat, ante nulla hendrerit arcu. vamus suscipit molestie vestibulum.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Info Portlets -->
                        <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 default-grid-item" data-isotope-item>
                            <div class="card portlets portlets-info">
                                <div class="card-header text-uppercase">
                                    Info
                                    <div class="f-right">
                                        <a href="javascript:;"><i class="icofont icofont-minus"></i></a>
                                        <a href="javascript:;"><i class="icofont icofont-refresh"></i></a>
                                        <a href="javascript:;"><i class="icofont icofont-close"></i></a>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <p class="card-text">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elementum, nulla vel pellentesque consequat.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Inverse Portlets -->
                        <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 default-grid-item" data-isotope-item>
                            <div class="card portlets portlets-inverse">
                                <div class="card-header text-uppercase">
                                    Inverse
                                    <div class="f-right">
                                        <a href="javascript:;"><i class="icofont icofont-minus"></i></a>
                                        <a href="javascript:;"><i class="icofont icofont-refresh"></i></a>
                                        <a href="javascript:;"><i class="icofont icofont-close"></i></a>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <p class="card-text">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Gray Portlets -->
                        <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 default-grid-item" data-isotope-item>
                            <div class="card portlets portlets-gray">
                                <div class="card-header text-uppercase">
                                    Gray
                                    <div class="f-right">
                                        <a href="javascript:;"><i class="icofont icofont-minus"></i></a>
                                        <a href="javascript:;"><i class="icofont icofont-refresh"></i></a>
                                        <a href="javascript:;"><i class="icofont icofont-close"></i></a>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <p class="card-text">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Purple Portlets -->
                        <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 default-grid-item" data-isotope-item>
                            <div class="card portlets portlets-purple">
                                <div class="card-header text-uppercase">
                                    Purple
                                    <div class="f-right">
                                        <a href="javascript:;"><i class="icofont icofont-minus"></i></a>
                                        <a href="javascript:;"><i class="icofont icofont-refresh"></i></a>
                                        <a href="javascript:;"><i class="icofont icofont-close"></i></a>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <p class="card-text">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Pink Portlets -->
                        <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 default-grid-item" data-isotope-item>
                            <div class="card portlets portlets-pink">
                                <div class="card-header text-uppercase">
                                    Pink
                                    <div class="f-right">
                                        <a href="javascript:;"><i class="icofont icofont-minus"></i></a>
                                        <a href="javascript:;"><i class="icofont icofont-refresh"></i></a>
                                        <a href="javascript:;"><i class="icofont icofont-close"></i></a>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <p class="card-text">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                                    </p>
                                </div>
                            </div>
                        </div>
                        <!-- Deep-Orange Portlets -->
                        <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 default-grid-item" data-isotope-item>
                            <div class="card portlets portlets-deep-orange">
                                <div class="card-header text-uppercase">
                                    Deep Orange
                                    <div class="f-right">
                                        <a href="javascript:;"><i class="icofont icofont-minus"></i></a>
                                        <a href="javascript:;"><i class="icofont icofont-refresh"></i></a>

                                        <a href="javascript:;"><i class="icofont icofont-close"></i></a>
                                    </div>
                                </div>
                                <div class="card-block">
                                    <p class="card-text">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Row Ends -->
            </div>
        </div>
        <!-- Container-fluid ends -->
     </div>
</div>
</div>

