<div  class="sidebar-mini fixed" >
   
    <div class="wrapper">
   
 <div ng-include="'shared/header.html'"></div>
 <div ng-include="'shared/sidebar.html'" data-ng-controller="menuController" data-ng-init="setMenu()"></div> 
    
    <div class="content-wrapper">
        <!-- Container-fluid starts -->
        <div class="container-fluid">

            <!-- Row Starts -->
            <div class="row">
                <div class="col-sm-12 p-0">
                    <div class="main-header">
                        <h4>Pricing</h4>
                        <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                            <li class="breadcrumb-item"><a href="index.html"><i class="icofont icofont-home"></i></a>
                            </li>
                            <li class="breadcrumb-item"><a href="#!">Extras</a>
                            </li>
                            <li class="breadcrumb-item"><a href="pricing.html">Pricing</a>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
            <!-- Row end -->
            <!-- Row Starts -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header"><h5 class="card-header-text">Style <span>1</span></h5></div>
                        <div class="card-block">
                            <div class="cd-pricing-container">
                             
                                <ul class="cd-pricing-list cd-bounce-invert">
                                    <li>
                                        <ul class="cd-pricing-wrapper card_main m-0">
                                            <li data-type="monthly" class="is-visible">
                                                <header class="cd-pricing-header">
                                                    <h2>Basic</h2>
                                                    <div class="cd-price">
                                                        <span class="cd-currency">$</span>
                                                        <span class="cd-price-month">30</span>
                                                        <span class="cd-duration">mo</span>
                                                    </div>
                                                </header> <!-- .cd-pricing-header -->

                                                <div class="cd-pricing-body">
                                                    <ul class="cd-pricing-features">
                                                        <li><span>256MB </span>  Memory</li>
                                                        <li><span>1</span>  User</li>
                                                        <li><span>1</span>  Website</li>
                                                        <li><span>1</span>  Domain</li>
                                                        <li><span>Unlimited</span> Bandwidth</li>
                                                        <li class="p-b-0"><span>24/7</span>  Support</li>
                                                    </ul>
                                                </div> <!-- .cd-pricing-body -->

                                                <footer class="cd-pricing-footer">
                                                    <button type="button" class="btn btn-md btn-primary waves-effect waves-light" data-angular-ripple>Select</button>
                                                </footer> <!-- .cd-pricing-footer -->
                                            </li>
                                          
                                        </ul> <!-- .cd-pricing-wrapper card_main -->
                                    </li>

                                    <li class="cd-popular">
                                        <ul class="cd-pricing-wrapper card_main m-0">
                                            <li data-type="monthly" class="is-visible">
                                                <header class="cd-pricing-header">
                                                    <h2>Popular</h2>

                                                    <div class="cd-price">
                                                        <span class="cd-currency">$</span>
                                                        <span class="cd-price-month">60</span>
                                                        <span class="cd-duration">mo</span>
                                                    </div>
                                                </header> <!-- .cd-pricing-header -->

                                                <div class="cd-pricing-body">
                                                    <ul class="cd-pricing-features">
                                                        <li><span>512MB </span> Memory</li>
                                                        <li>3 Users</li>
                                                        <li>5 Websites</li>
                                                        <li>7 Domains</li>
                                                        <li><span>Unlimited</span> Bandwidth</li>
                                                        <li class="p-b-0"><span>24/7</span>  Support</li>
                                                    </ul>
                                                </div> <!-- .cd-pricing-body -->

                                                <footer class="cd-pricing-footer">
                                                    <button type="button" class="btn btn-md btn-primary waves-effect waves-light" data-angular-ripple>Select</button>
                                                </footer> <!-- .cd-pricing-footer -->
                                            </li>

                                           
                                        </ul> <!-- .cd-pricing-wrapper card_main -->
                                    </li>

                                    <li>
                                        <ul class="cd-pricing-wrapper card_main m-0">
                                            <li data-type="monthly" class="is-visible">
                                                <header class="cd-pricing-header">
                                                    <h2>Premier</h2>

                                                    <div class="cd-price">
                                                        <span class="cd-currency">$</span>
                                                        <span class="cd-price-month">90</span>
                                                        <span class="cd-duration">mo</span>
                                                    </div>
                                                </header> <!-- .cd-pricing-header -->

                                                <div class="cd-pricing-body">
                                                    <ul class="cd-pricing-features">
                                                        <li><span>1024MB</span> Memory</li>
                                                        <li>5 Users</li>
                                                        <li><span>1</span>0 Websites</li>
                                                        <li><span>1</span>0 Domains</li>
                                                        <li><span>Unlimited</span> Bandwidth</li>
                                                        <li class="p-b-0"><span>24/7</span>  Support</li>
                                                    </ul>
                                                </div> <!-- .cd-pricing-body -->

                                                <footer class="cd-pricing-footer">
                                                    <button type="button" class="btn btn-md btn-primary waves-effect waves-light" data-angular-ripple>Select</button>
                                                </footer>  <!-- .cd-pricing-footer -->
                                            </li>

                                           
                                        </ul> <!-- .cd-pricing-wrapper card_main -->
                                    </li>
                                </ul> <!-- .cd-pricing-list -->
                            </div> <!-- .cd-pricing-container -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row end -->
            <!-- Row Starts -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header"><h5 class="card-header-text">Style 2</h5></div>
                        <div class="card-block">
                            <div class="cd-pricing-container cd-has-margins">
                              
                                <ul class="cd-pricing-list cd-bounce-invert">
                                    <li>
                                        <ul class="cd-pricing-wrapper card_main m-0">
                                            <li data-type="monthly" class="is-visible">
                                                <header class="cd-pricing-header">
                                                    <h2>Basic</h2>

                                                    <div class="cd-price">
                                                        <span class="cd-currency">$</span>
                                                        <span class="cd-price-month">30</span>
                                                        <span class="cd-duration">mo</span>
                                                    </div>
                                                </header> <!-- .cd-pricing-header -->

                                                <div class="cd-pricing-body">
                                                    <ul class="cd-pricing-features">
                                                        <li><span>256MB </span>   Memory</li>
                                                        <li><span>1</span>  User</li>
                                                        <li><span>1</span>  Website</li>
                                                        <li><span>1</span>  Domain</li>
                                                        <li><span>Unlimited</span> Bandwidth</li>
                                                        <li class="p-b-0"><span>24/7</span>  Support</li>
                                                    </ul>
                                                </div> <!-- .cd-pricing-body -->

                                                <footer class="cd-pricing-footer">
                                                    <button type="button" class="btn btn-md btn-primary waves-effect waves-light" data-angular-ripple>Select</button>
                                                </footer>  <!-- .cd-pricing-footer -->
                                            </li>                                         
                                        </ul> <!-- .cd-pricing-wrapper card_main -->
                                    </li>

                                    <li class="cd-popular">
                                        <ul class="cd-pricing-wrapper card_main m-0">
                                            <li data-type="monthly" class="is-visible">
                                                <header class="cd-pricing-header">
                                                    <h2>Popular</h2>
                                                    <div class="cd-price">
                                                        <span class="cd-currency">$</span>
                                                        <span class="cd-price-month">60</span>
                                                        <span class="cd-duration">mo</span>
                                                    </div>
                                                </header> <!-- .cd-pricing-header -->

                                                <div class="cd-pricing-body">
                                                    <ul class="cd-pricing-features">
                                                        <li><span>512MB </span> Memory</li>
                                                        <li>3 Users</li>
                                                        <li>5 Websites</li>
                                                        <li>7 Domains</li>
                                                        <li><span>Unlimited</span> Bandwidth</li>
                                                        <li class="p-b-0"><span>24/7</span>  Support</li>
                                                    </ul>
                                                </div> <!-- .cd-pricing-body -->

                                                <footer class="cd-pricing-footer">
                                                    <button type="button" class="btn btn-md btn-primary waves-effect waves-light" data-angular-ripple>Select</button>
                                                </footer>  <!-- .cd-pricing-footer -->
                                            </li>
                                        </ul> <!-- .cd-pricing-wrapper card_main -->
                                    </li>

                                    <li>
                                        <ul class="cd-pricing-wrapper card_main m-0">
                                            <li data-type="monthly" class="is-visible">
                                                <header class="cd-pricing-header">
                                                    <h2>Premier</h2>

                                                    <div class="cd-price">
                                                        <span class="cd-currency">$</span>
                                                        <span class="cd-price-month">90</span>
                                                        <span class="cd-duration">mo</span>
                                                    </div>
                                                </header> <!-- .cd-pricing-header -->

                                                <div class="cd-pricing-body">
                                                    <ul class="cd-pricing-features">
                                                        <li><span>1024MB</span> Memory</li>
                                                        <li>5 Users</li>
                                                        <li><span>1</span>0 Websites</li>
                                                        <li><span>1</span>0 Domains</li>
                                                        <li><span>Unlimited</span> Bandwidth</li>
                                                        <li class="p-b-0"><span>24/7</span>  Support</li>
                                                    </ul>
                                                </div> <!-- .cd-pricing-body -->

                                                <footer class="cd-pricing-footer">
                                                    <button type="button" class="btn btn-md btn-primary waves-effect waves-light" data-angular-ripple>Select</button>
                                                </footer>  <!-- .cd-pricing-footer -->
                                            </li>
                                        </ul> <!-- .cd-pricing-wrapper card_main -->
                                    </li>
                                </ul> <!-- .cd-pricing-list -->
                            </div> <!-- .cd-pricing-container -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row end -->

        </div>
        <!-- Container-fluid ends -->
    </div>
</div>
</div>

